Repository devopness/devopness, pull requests merged in 2022-07, with the labels that each got.

#542 feat: remove deployment resource and update `Action` model
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/actions-api.ts
  packages/sdks/javascript/src/api/generated/apis/actions-resources-api.ts
  packages/sdks/javascript/src/api/generated/apis/applications-deployments-api.ts
  packages/sdks/javascript/src/api/generated/apis/deployments-api.ts
  packages/sdks/javascript/src/api/generated/apis/logs-api.ts
  packages/sdks/javascript/src/api/generated/apis/projects-deployments-api.ts
  packages/sdks/javascript/src/api/generated/apis/resource-events-api.ts
  packages/sdks/javascript/src/api/generated/models/action-trigger-type.ts
  packages/sdks/javascript/src/api/generated/models/action-triggered-from.ts
  packages/sdks/javascript/src/api/generated/models/action.ts
  packages/sdks/javascript/src/api/generated/models/application-deployment.ts
  packages/sdks/javascript/src/api/generated/models/application-last-deployments.ts
  packages/sdks/javascript/src/api/generated/models/deployment-create-application.ts
  packages/sdks/javascript/src/api/generated/models/deployment-relation.ts
  packages/sdks/javascript/src/api/generated/models/deployment-step.ts
  packages/sdks/javascript/src/api/generated/models/deployment.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/resource.ts
  packages/sdks/javascript/src/api/generated/models/script.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/ActionService.ts
  packages/sdks/javascript/src/services/DeploymentService.ts
  packages/sdks/javascript/src/services/ProjectService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#541 docs: Add docs for SSH Keys and Cloud Provider Credentials
  docs/README.md
  docs/cloud-providers/add-cloud-providers-credentials.md
  docs/cloud-providers/index.md
  docs/cloud-providers/remove-cloud-providers-credentials.md
  docs/ssh-keys/add-ssh-key.md
  docs/ssh-keys/index.md
  docs/ssh-keys/remove-ssh-key.md
Labels: cla-signed

#543 feat: add `action_data` to Action model
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/models/action-data.ts
  packages/sdks/javascript/src/api/generated/models/action-deployment-commit.ts
  packages/sdks/javascript/src/api/generated/models/action-deployment-content.ts
  packages/sdks/javascript/src/api/generated/models/action-deployment-data.ts
  packages/sdks/javascript/src/api/generated/models/action.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#545 docs: some errors in docs have been fixed
  CONTRIBUTING.md
  packages/sdks/javascript/README.md
Labels: cla-signed, packages, sdk, sdk-javascript, repo

#548 docs: Add an existing Server
  .github/labeler-pr.yml
  docs/servers/add-existing-server.md
  docs/servers/index.md
  docs/ssh-keys/add-ssh-key.md
  docs/ssh-keys/remove-ssh-key.md
Labels: cla-signed, ci

#550 docs: Instructions for adding project and environments
  docs/environments/add-environment.md
  docs/environments/index.md
  docs/projects/add-project.md
  docs/projects/index.md
Labels: cla-signed, docs

#551 fix: Expose environments and projects actions services
  packages/sdks/javascript/src/services/EnvironmentService.ts
  packages/sdks/javascript/src/services/ProjectService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#547 docs: Add GCP service account guide
  docs/cloud-provider-credentials/add-cloud-providers-credentials.md
  docs/cloud-provider-credentials/get-gcp-service-account-credentials.md
  docs/cloud-provider-credentials/index.md
  docs/cloud-provider-credentials/remove-cloud-providers-credentials.md
Labels: cla-signed, docs

#549 docs: Add GCP servers
  docs/cloud-provider-credentials/index.md
  docs/servers/add-gcp-server.md
  docs/servers/index.md
Labels: cla-signed, docs

#552 fix: fixing yaml line break in docs
  docs/cloud-provider-credentials/add-cloud-providers-credentials.md
  docs/servers/add-gcp-server.md
Labels: cla-signed, docs

#553 fix: Fix `GET /applications/{id}/hooks` summary
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#555 fix: update related link from docs
  docs/cloud-provider-credentials/remove-cloud-providers-credentials.md
Labels: cla-signed, docs

#554 feat: static cloud provider route
  packages/sdks/javascript/src/api/generated/apis/applications-hooks-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-api.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider.ts
  packages/sdks/javascript/src/api/generated/models/cloud-service.ts
  packages/sdks/javascript/src/api/generated/models/server.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#557 feat: add cloud provider services models
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/cloud-providers-credentials-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-api.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider-service-region.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider-service.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/operating-system.ts
  packages/sdks/javascript/src/api/generated/models/provider.ts
  packages/sdks/javascript/src/api/generated/models/server-options.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/CloudProviderCredentialService.ts
  packages/sdks/javascript/src/services/CloudProviderService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#558 feat: Upgrade ts eslint
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/package.json
Labels: cla-signed, packages, sdk, sdk-javascript

#559 feat: Upgrade Jest and related packages
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/package.json
Labels: cla-signed, packages, sdk, sdk-javascript

#560 feat: Bump eslint promise plugin
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/package.json
Labels: cla-signed, packages, sdk, sdk-javascript

#563 feat: Up csp from web ide
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/cloud-providers-credentials-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-api.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider-service-region.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider-service.ts
  packages/sdks/javascript/src/api/generated/models/cloud-provider.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/operating-system.ts
  packages/sdks/javascript/src/api/generated/models/provider.ts
  packages/sdks/javascript/src/api/generated/models/server-options.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/CloudProviderCredentialService.ts
  packages/sdks/javascript/src/services/CloudProviderService.ts
Labels: cla-signed, packages, sdk, sdk-javascript
