Repository devopness/devopness, pull requests merged in 2022-11, with the labels that each got.

#596 docs: Add an SSL certificate to an application
  docs/applications/add-ssl-certificate.md
Labels: cla-signed, docs

#598 feat: 2022-11-08 21:51 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/pipelines-api.ts
  packages/sdks/javascript/src/api/generated/apis/pipelines-steps-api.ts
  packages/sdks/javascript/src/api/generated/models/cron-job-update.ts
  packages/sdks/javascript/src/api/generated/models/daemon-update.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step-create.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step-update.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-update.ts
  packages/sdks/javascript/src/api/generated/models/pipeline.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#600 feat: 2022-11-11 08:04 - Update API specification
  .github/workflows/sdk-javascript-ci.yml
  packages/sdks/javascript/src/api/generated/apis/pipelines-steps-api.ts
  packages/sdks/javascript/src/api/generated/models/daemon-update.ts
  packages/sdks/javascript/src/api/generated/models/variable-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, ci, packages, sdk, sdk-javascript

#602 feat: 2022-11-11 10:44 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/pipelines-steps-api.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#605 feat: 2022-11-18 21:12 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/pipelines-api.ts
  packages/sdks/javascript/src/api/generated/apis/pipelines-resources-api.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/PipelineService.ts
Labels: cla-signed, packages, sdk, sdk-javascript
