Repository devopness/devopness, pull requests merged in 2022-08, with the labels that each got.

#567 docs: add links to test case sites on readme
  CONTRIBUTING.md
Labels: cla-signed, repo

#568 feat: add PipelineService
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/pipelines-api.ts
  packages/sdks/javascript/src/api/generated/apis/pipelines-resources-api.ts
  packages/sdks/javascript/src/api/generated/models/application-pipeline.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-create.ts
  packages/sdks/javascript/src/api/generated/models/pipeline.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/PipelineService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#569 docs: Add application
  docs/applications/add-application.md
  docs/applications/index.md
Labels: cla-signed, docs

#570 feat: add pipeline steps
  packages/sdks/javascript/src/api/generated/apis/pipelines-steps-api.ts
  packages/sdks/javascript/src/api/generated/models/application-options.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step-create.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step-runner-name.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step.ts
  packages/sdks/javascript/src/api/generated/models/script-runner.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/PipelineService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#571 docs: Add AWS credentials guide
  docs/cloud-provider-credentials/add-cloud-provider-credential-aws.md
  docs/cloud-provider-credentials/add-cloud-provider-credential-gcp.md
  docs/cloud-provider-credentials/add-cloud-provider-credential.md
  docs/cloud-provider-credentials/index.md
Labels: cla-signed, docs

#572 feat: Add model ApplicationLastDeployment
  packages/sdks/javascript/src/api/generated/models/application-last-deployment.ts
  packages/sdks/javascript/src/api/generated/models/application-last-deployments.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#573 fix: add `custom` value to PipelineStepRunnerName
  packages/sdks/javascript/src/api/generated/models/pipeline-step-runner-name.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#574 feat: add updatePipelineStep operation
  packages/sdks/javascript/src/api/generated/apis/pipelines-steps-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-step-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript
