Repository devopness/devopness, pull requests merged in 2022-10, with the labels that each got.

#586 fix: modify accept team invitation endpoint and rename models
  packages/sdks/javascript/src/api/generated/apis/invitations-api.ts
  packages/sdks/javascript/src/api/generated/apis/teams-invitations-api.ts
  packages/sdks/javascript/src/api/generated/apis/users-team-invitations-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/team-invitation-create.ts
  packages/sdks/javascript/src/api/generated/models/team-invitation-status.ts
  packages/sdks/javascript/src/api/generated/models/team-invitation.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#587 fix: remove list environments invitations endpoint from tags
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#584 feat: update CI workflow to commit auto generated models
  .github/workflows/sdk-javascript-ci.yml
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, ci, packages, sdk, sdk-javascript

#588 feat: 2022-10-13 01:01 - Update API specification
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/team-invitations-api.ts
  packages/sdks/javascript/src/api/generated/apis/teams-invitations-api.ts
  packages/sdks/javascript/src/api/generated/apis/users-team-invitations-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/invitation-create.ts
  packages/sdks/javascript/src/api/generated/models/invitation-relation.ts
  packages/sdks/javascript/src/api/generated/models/invitation.ts
  packages/sdks/javascript/src/api/generated/models/team-invitation-relation.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/TeamInvitationService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#589 feat: 2022-10-13 23:38 - Update API specification
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/invitations-api.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/InvitationService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#591 ci: Trigger CI for SDK-JS on PRs only
  .editorconfig
  .github/workflows/sdk-javascript-ci.yml
Labels: cla-signed, ci

#590 docs: Export `SdkServices` and make it available on documentation
  packages/sdks/javascript/package.json
  packages/sdks/javascript/src/index.ts
  packages/sdks/javascript/src/services/index.ts
  packages/sdks/javascript/typedoc.json
Labels: cla-signed, packages, sdk, sdk-javascript

#592 ci: Re-order lint and build commands on workflows
  .github/workflows/sdk-javascript-ci.yml
  .github/workflows/sdk-javascript-release.yml
  packages/sdks/javascript/package.json
  packages/sdks/javascript/src/services/index.ts
Labels: cla-signed, ci, packages, sdk, sdk-javascript

#595 feat: 2022-10-26 20:38 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/environments-servers-api.ts
  packages/sdks/javascript/src/api/generated/apis/sshkeys-api.ts
  packages/sdks/javascript/src/api/generated/models/ssh-key-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript
