Repository devopness/devopness, pull requests merged in 2023-05, with the labels that each got.

#655 feat: create application deploy guide using navigation buttons
  docs/applications/add-application.md
  docs/applications/deploy-application.md
  docs/configuration-files/add-configuration-file.md
  docs/environments/add-environment.md
  docs/pipelines/add-pipeline-step.md
  docs/projects/add-project.md
  docs/roles/add-role.md
  docs/servers/add-aws-server.md
  docs/servers/add-existing-server.md
  docs/servers/add-gcp-server.md
  docs/servers/index.md
  docs/servers/ssh-into-server.md
  docs/teams/add-member-to-team.md
  docs/teams/add-team.md
Labels: cla-signed, docs

#656 docs: improved instructions to install xcode in macOS
  packages/sdks/javascript/README.md
Labels: cla-signed, packages, sdk, sdk-javascript

#654 feat: add posts about ssh connection
  docs/servers/ssh-into-server.md
  docs/ssh-keys/add-ssh-key.md
  docs/ssh-keys/create-ssh-key-pair.md
  docs/ssh-keys/index.md
  docs/ssh-keys/remove-ssh-key.md
Labels: cla-signed, docs

#661 feat: move and update pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: cla-signed, ci

#660 docs: fix previous link in "Add an existing Server"
  docs/servers/add-existing-server.md
Labels: cla-signed, docs

#662 docs: add next link to "Add member to a team"
  docs/teams/add-member-to-team.md
Labels: cla-signed, docs

#663 docs: fix url as text not anchor
  docs/cloud-provider-credentials/add-cloud-provider-credential-gcp.md
Labels: cla-signed, docs

#664 docs: update add-cloud-provider-credential-gcp.md
  docs/cloud-provider-credentials/add-cloud-provider-credential-gcp.md
Labels: cla-signed, docs

#658 docs: add configuration file crud instructions
  docs/configuration-files/add-configuration-file.md
  docs/configuration-files/edit-configuration-file.md
  docs/configuration-files/index.md
  docs/configuration-files/remove-configuration-file.md
Labels: cla-signed, docs

#659 docs: add check server provision logs tutorial to docs
  docs/servers/add-aws-server.md
  docs/servers/add-existing-server.md
  docs/servers/add-gcp-server.md
  docs/servers/check-server-provision-logs.md
  docs/servers/ssh-into-server.md
Labels: cla-signed, docs

#665 docs: add previous link on add-teams-to-environment post
  docs/environments/add-teams-to-environment.md
Labels: cla-signed, docs

#666 docs: use quote on add-role post
  docs/roles/add-role.md
Labels: cla-signed, docs

#668 docs: add deploy post
  docs/applications/deploy-application.md
Labels: cla-signed, docs

#671 feat: 2023-05-19 21:59 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/users-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/triggered-action-stats.ts
  packages/sdks/javascript/src/api/generated/models/triggered-action-summary.ts
  packages/sdks/javascript/src/api/generated/models/triggered-actions.ts
  packages/sdks/javascript/src/api/generated/models/user-activity.ts
  packages/sdks/javascript/src/api/generated/models/user-environment-stats.ts
  packages/sdks/javascript/src/api/generated/models/user-project-stats.ts
  packages/sdks/javascript/src/api/generated/models/user-team-stats.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#669 docs: add recomended one way path to application deploy
  docs/applications/add-ssl-certificate.md
  docs/applications/deploy-application.md
  docs/projects/add-project.md
  docs/roles/add-role.md
  docs/servers/add-aws-server.md
  docs/servers/add-existing-server.md
  docs/servers/add-gcp-server.md
  docs/servers/index.md
Labels: cla-signed, docs

#672 feat: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, ci

#673 docs: update add-pipeline-step.md
  docs/pipelines/add-pipeline-step.md
Labels: cla-signed, docs

#675 docs: add API docs index post
  docs/api/index.md
Labels: cla-signed, docs

#676 feat: 2023-05-30 12:38 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/static-data-resource-types-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-settings-stage.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-settings-variable.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-settings.ts
  packages/sdks/javascript/src/api/generated/models/resource-type-relation.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/StaticService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#678 chore: add tag for Static Data - Resource Types
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#677 docs: add "find activity summary" post
  docs/api/find-your-activity-summary.md
Labels: cla-signed, docs

#679 feat: 2023-05-31 01:22 - Update API specification
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/pipeline-settings.ts
  packages/sdks/javascript/src/api/generated/models/resource-operation.ts
  packages/sdks/javascript/src/api/generated/models/resource-type-relation.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#680 docs: improved wording on guiding users to make api requests
  docs/api/find-your-activity-summary.md
  docs/api/index.md
Labels: cla-signed, docs

#681 docs: update add-cloud-provider-credential-gcp.md
  docs/cloud-provider-credentials/add-cloud-provider-credential-gcp.md
Labels: cla-signed, docs
