Repository devopness/devopness, pull requests merged in 2023-01, with the labels that each got.

#622 feat: 2023-01-05 13:35 - Update API specification
  packages/sdks/javascript/src/api/generated/models/accepted-response-message.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/team-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#624 feat: 2023-01-11 10:48 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/users-api.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#625 feat: use Node 18 for CI release
  .github/workflows/sdk-javascript-release.yml
Labels: cla-signed, ci

#626 feat: update min TS version mentioned in docs
  packages/sdks/javascript/README.md
Labels: cla-signed, packages, sdk, sdk-javascript

#629 feat: 2023-01-23 21:07 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/users-api.ts
  packages/sdks/javascript/src/api/generated/models/action-triggered-from.ts
  packages/sdks/javascript/src/api/generated/models/deployment-application-create.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/static-billing-info.ts
  packages/sdks/javascript/src/api/generated/models/user-profile-options.ts
  packages/sdks/javascript/src/api/generated/models/user-url.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#631 fix: export new endpoint user-profile-options
  packages/sdks/javascript/src/services/StaticService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#632 feat: 2023-01-26 20:03 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/hooks-api.ts
  packages/sdks/javascript/src/api/generated/models/hook-trigger-response.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#633 docs: `Teams`, `Roles` and `Team Membership`
  docs/environments/add-environment.md
  docs/environments/add-teams-to-environment.md
  docs/roles/add-role.md
  docs/roles/index.md
  docs/teams/add-member-to-team.md
  docs/teams/add-team.md
  docs/teams/index.md
Labels: cla-signed, docs
