Repository devopness/devopness, pull requests merged in 2023-12, with the labels that each got.

#813 feat: 2023-12-04 19:43 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/application-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#814 fix: fix src path to properly include changes to any files within
  .github/workflows/sdk-javascript-release.yml
Labels: cla-signed, ci

#816 fix: adjust regex for 'sdk' label
  .github/labeler-issue.yml
Labels: cla-signed, ci

#820 feat: 2023-12-07 12:57 - Update API specification
  packages/sdks/javascript/src/api/generated/models/variable-targets.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#819 fix: add 'serverOptions' to 'StaticService'
  packages/sdks/javascript/src/services/StaticService.ts
Labels: cla-signed, packages, sdk, sdk-javascript

#822 feat: add security policy for vulnerability disclosure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SECURITY.md
  docs/security/index.md
  docs/security/reporting-a-security-vulnerability.md
Labels: cla-signed, ci, docs

#823 feat: 2023-12-13 00:05 - Update API specification
  packages/sdks/javascript/src/api/generated/models/action-relation.ts
  packages/sdks/javascript/src/api/generated/models/action-retry-response.ts
  packages/sdks/javascript/src/api/generated/models/action.ts
  packages/sdks/javascript/src/api/generated/models/application-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/application-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#824 fix: change use of word 'directory' to 'section'
  docs/legal/index.md
  docs/security/index.md
Labels: cla-signed, docs

#821 feat: create community support issue link
  .github/ISSUE_TEMPLATE/config.yml
Labels: cla-signed, ci

#825 docs: 2023-12-14 18:45 - Update API specification
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#826 feat: 2023-12-19 23:28 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-types-private-application.ts
  packages/sdks/javascript/src/api/generated/models/application-types-public-application.ts
  packages/sdks/javascript/src/api/generated/models/application-types.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#827 docs: update PR template to link GitHub issues instead of internal issue ID
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, ci

#828 docs: update home/introduction to docs article
  docs/index.md
Labels: cla-signed, docs

#829 docs: update next link add-server.md
  docs/servers/add-server.md
Labels: cla-signed, docs

#833 refactor: modify and reorganize bug report form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed, ci

#834 feat: 2023-12-23 01:27 - Update API specification
  packages/sdks/javascript/src/api/generated/models/hook-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, packages, sdk, sdk-javascript

#835 docs: update deploy/hook articles to use source_type/source_ref
  docs/applications/deploy-application.md
  docs/webhooks/create-incoming-webhook.md
  docs/webhooks/create-outgoing-webhook.md
Labels: cla-signed, docs

#830 fix: correct 'Applications' docs writing errors
  docs/applications/deploy-application-using-incoming-hook.md
Labels: cla-signed, docs

#832 fix: correct and standardize 'FAQ' links
  docs/users/subscriptions/faq/index.md
Labels: cla-signed, docs

#831 fix: correct 'Cloud Provider Credentials' writing errors
  docs/users/credentials/add-gcp-credential.md
Labels: cla-signed, docs
