Repository devopness/devopness, pull requests merged in 2024-04, with the labels that each got.

#929 docs: fix article "Check a Role's Permissions" to guide the user to click resource name
  docs/roles/view-role.md
Labels: cla-signed, scope: docs

#924 docs: fix article "Edit a Pipeline" to guide the user to click resource name and to use the tabs
  docs/pipelines/edit-pipeline.md
Labels: cla-signed, scope: docs

#925 docs: fix article "Remove a Pipeline" to guide the user to click resource name and to use the tabs
  docs/pipelines/remove-pipeline.md
Labels: cla-signed, scope: docs

#941 docs: fix article "Deploy Application using an Incoming Hook" to guide the user to click resource name and and the tabs
  docs/applications/deploy-application-using-incoming-hook.md
Labels: cla-signed, scope: docs

#938 docs: fix article "Deploy SSH Key" to guide the user to click resource name
  docs/ssh-keys/deploy-ssh-key.md
Labels: cla-signed, scope: docs

#939 docs: fix article "Add an SSL Certificate" to guide user to click resource name
  docs/ssl-certificates/add-ssl-certificate.md
Labels: cla-signed, scope: docs

#936 docs: fix article "Start a Server" to guide the user to click resource name
  docs/servers/start-server.md
Labels: cla-signed, scope: docs

#933 docs: fix article "Remove a Self Hosted Server" to guide the user to click resource name
  docs/servers/remove-selfhosted-server.md
Labels: cla-signed, scope: docs

#934 docs: fix article "Get a Server’s Status" to guide the user to click resource name and to use the tabs
  docs/servers/get-server-status.md
Labels: cla-signed, scope: docs

#930 docs: fix article "Delete a Server provisioned by Devopness" to guide the user to click resource name
  docs/servers/delete-cloudprovider-server.md
Labels: cla-signed, scope: docs

#926 docs: fix article "Add Step to Pipeline " to guide the user to click resource name and to use the tabs
  docs/pipelines/steps/add-step.md
Labels: cla-signed, scope: docs

#927 docs: fix article "Remove Step from Pipeline" to guide the user to click resource name and to use the tabs
  docs/pipelines/steps/remove-step.md
Labels: cla-signed, scope: docs

#928 docs: fix article "Run a Pipeline" to guide the user to click resource name and to use the tabs
  docs/pipelines/run-pipeline.md
Labels: cla-signed, scope: docs

#935 docs: fix article "Restart a Server" to guide the user to click resource name
  docs/servers/restart-server.md
Labels: cla-signed, scope: docs

#937 docs: fix article "Stop a Server" to guide the user to click resource name
  docs/servers/stop-server.md
Labels: cla-signed, scope: docs

#910 docs: fix article "Add a File" to guide the user to click resource name and to use the tabs
  docs/files/add-file.md
Labels: cla-signed, scope: docs

#945 docs: add virtual hosts articles ADD and EDIT
  docs/virtual-hosts/add-virtual-host.md
  docs/virtual-hosts/edit-virtual-host.md
  docs/virtual-hosts/index.md
Labels: cla-signed, scope: docs

#949 docs: improve contributing guidelines
  CONTRIBUTING.md
Labels: cla-signed, scope: repo

#948 feat: update first PR bot message to mention contributing guidelines
  .github/config.yml
Labels: cla-signed, scope: ci

#950 feat: add cla assistant to repo
  .github/workflows/cla.yml
Labels: cla-signed, scope: ci
