Repository devopness/devopness, pull requests merged in 2024-02, with the labels that each got.

#857 docs: update pipelines/add-pipeline article to add warning about `CUSTOM` operation
  docs/pipelines/add-pipeline.md
Labels: cla-signed, scope: docs

#889 fix: define version used in semantic release
  .github/workflows/sdk-javascript-release.yml
Labels: cla-signed, scope: ci

#890 feat: order services in DevopnessApiClient
  packages/sdks/javascript/src/DevopnessApiClient.ts
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#888 docs: update team membership related articles
  docs/environments/team-memberships/add-team-membership.md
  docs/roles/add-role.md
  docs/teams/add-team.md
  docs/teams/invitations/add-invitation.md
  docs/teams/invitations/index.md
  docs/teams/members/add-member.md
Labels: cla-signed, scope: docs

#886 docs: fix article "Add a Project"
  docs/projects/add-project.md
Labels: cla-signed, scope: docs
