Repository devopness/devopness, pull requests merged in 2024-11, with the labels that each got.

#1003 ci: update release management workflow from semantic-release to changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/sdk-javascript-release.yml
  .github/workflows/ui-react-release.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/sdks/javascript/package.json
  packages/ui/react/.storybook/main.ts
  packages/ui/react/eslint.config.js
  packages/ui/react/package-lock.json
  packages/ui/react/package.json
  packages/ui/react/src/components/Buttons/Button/Button.styled.ts
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.styled.ts
  packages/ui/react/src/components/Templates/Tabs/Tabs.styled.ts
Labels: scope: ci, scope: packages, scope: sdks, scope: sdk-javascript, scope: repo

#1007 feat(design-system): add dropdown component and fixes exported types
  .changeset/add-Dropdown-component.md
  .changeset/add-Icon-component.md
  .changeset/add-Link-component.md
  .changeset/add-colors-get-opacity.md
  .changeset/fix-type-import-paths.md
  package-lock.json
  packages/ui/react/package.json
  packages/ui/react/src/colors/getColor.ts
  packages/ui/react/src/colors/index.ts
  packages/ui/react/src/colors/types.ts
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.stories.ts
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.styled.ts
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.test.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
  packages/ui/react/src/components/Primitives/Dropdown/index.ts
  packages/ui/react/src/components/Primitives/Icon/Icon.stories.tsx
  packages/ui/react/src/components/Primitives/Icon/Icon.test.tsx
  packages/ui/react/src/components/Primitives/Icon/Icon.tsx
  packages/ui/react/src/components/Primitives/Icon/index.ts
  packages/ui/react/src/components/Primitives/Link/Link.stories.tsx
  packages/ui/react/src/components/Primitives/Link/Link.styled.ts
  packages/ui/react/src/components/Primitives/Link/Link.test.tsx
  packages/ui/react/src/components/Primitives/Link/Link.tsx
  packages/ui/react/src/components/Primitives/Link/index.ts
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.tsx
  packages/ui/react/src/components/Primitives/index.ts
  packages/ui/react/src/components/README.md
  packages/ui/react/src/components/helpers.ts
  packages/ui/react/src/components/types.ts
  packages/ui/react/tsconfig.json
Labels: scope: packages

#1009 ci(release): add contributor mention to generated changelogs
  .changeset/config.json
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: scope: ci, scope: repo

#1005 docs: add `Services`, `Cron Jobs`, and `Daemons` docs, fix outdated steps on few articles
  docs/applications/link-server-to-application.md
  docs/credentials/add-gcp-credential.md
  docs/cronjobs/add-cronjob.md
  docs/cronjobs/edit-cronjob.md
  docs/cronjobs/index.md
  docs/cronjobs/remove-cronjob.md
  docs/daemons/add-daemon.md
  docs/daemons/edit-daemon.md
  docs/daemons/index.md
  docs/daemons/remove-daemon.md
  docs/pipelines/steps/add-step.md
  docs/services/add-service.md
  docs/services/index.md
  docs/services/remove-service.md
  docs/ssh-keys/link-ssh-key.md
Labels: scope: docs

#1011 docs: improvements to actions details and FAQs
  docs/actions/index.md
  docs/actions/view-action.md
  docs/users/subscriptions/faq/index.md
Labels: scope: docs

#1014 docs: clarify credit consumption details in FAQs
  docs/users/subscriptions/faq/index.md
Labels: scope: docs

#1016 feat: 2024-11-20 11:05 - Update API specification
  .changeset/add-target-human-readable-in-variable.md
  packages/sdks/javascript/src/api/generated/models/variable-relation.ts
  packages/sdks/javascript/src/api/generated/models/variable.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1028 feat: 2024-11-25 12:53 - Update API specification
  .changeset/remove-action-type-from-hook-create-and-update-models.md
  .changeset/rename-auto-generated-field-to-is-auto-generated-in-models.md
  .changeset/update-operations-in-action-type-enum.md
  .changeset/update-service-index.md
  packages/sdks/javascript/src/api/generated/models/action-type.ts
  packages/sdks/javascript/src/api/generated/models/cron-job-relation.ts
  packages/sdks/javascript/src/api/generated/models/cron-job.ts
  packages/sdks/javascript/src/api/generated/models/daemon-relation.ts
  packages/sdks/javascript/src/api/generated/models/daemon.ts
  packages/sdks/javascript/src/api/generated/models/hook-pipeline-create.ts
  packages/sdks/javascript/src/api/generated/models/hook-relation.ts
  packages/sdks/javascript/src/api/generated/models/hook-update.ts
  packages/sdks/javascript/src/api/generated/models/hook.ts
  packages/sdks/javascript/src/api/generated/models/network-rule-relation.ts
  packages/sdks/javascript/src/api/generated/models/network-rule.ts
  packages/sdks/javascript/src/api/generated/models/service-relation.ts
  packages/sdks/javascript/src/api/generated/models/service.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/index.ts
Labels: scope: packages, scope: sdks, scope: sdk-javascript
