Repository devopness/devopness, pull requests merged in 2024-07, with the labels that each got.

#963 feat: 2024-06-28 17:22 - Update API specification
  packages/sdks/javascript/src/api/generated/models/action-resource.ts
  packages/sdks/javascript/src/api/generated/models/daemon-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/daemon-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#964 feat: 2024-07-10 17:45 - Update API specification
  packages/sdks/javascript/src/api/generated/models/operating-system-version.ts
  packages/sdks/javascript/src/api/generated/models/server.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#966 feat: 2024-07-18 20:32 - Update API specification
  packages/sdks/javascript/src/api/generated/models/daemon-relation.ts
  packages/sdks/javascript/src/api/generated/models/daemon.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#967 build(deps): update node, jest and dev dependencies
  .github/workflows/sdk-javascript-ci.yml
  .github/workflows/sdk-javascript-release.yml
  packages/sdks/javascript/Dockerfile-dev
  packages/sdks/javascript/Makefile
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/package.json
Labels: cla-signed, scope: ci, scope: packages, scope: sdks, scope: sdk-javascript

#968 build: update axios from 0.28 to 1.7.2
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/package.json
  packages/sdks/javascript/src/services/ApiBaseService.ts
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#965 docs: update `Deploy application` article to guide the user to add a virtual host in next step
  docs/applications/deploy-application.md
  docs/ssl-certificates/add-ssl-certificate.md
  docs/virtual-hosts/add-virtual-host.md
Labels: cla-signed, scope: docs

#969 docs: change intro to configuration files
  docs/files/index.md
Labels: cla-signed, scope: docs

#970 docs: update `Add Virtual host` to note about virtual host ip based
  docs/applications/deploy-application.md
  docs/virtual-hosts/add-virtual-host.md
Labels: cla-signed, scope: docs
