Repository devopness/devopness, pull requests merged in 2024-12, with the labels that each got.

#1063 feat: 2024-12-05 18:03 - Update API specification
  .changeset/changed-fields-of-pipeline-step-model.md
  packages/sdks/javascript/src/api/generated/models/step-pipeline-create.ts
  packages/sdks/javascript/src/api/generated/models/step-pipeline-update.ts
  packages/sdks/javascript/src/api/generated/models/step.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1052 build(dev-deps): bump storybook from 8.3.6 to 8.4.7
  package-lock.json
  packages/ui/react/package.json
Labels: scope: packages, scope: repo

#1083 docs: add article about server's rotate key
  docs/servers/rotate-key.md
Labels: scope: docs

#1087 feat: 2024-12-13 13:55 - Update API specification
  .changeset/add-description-field-in-action-target.md
  .changeset/add-server-rotate-key-operation.md
  packages/sdks/javascript/src/api/generated/apis/servers-api.ts
  packages/sdks/javascript/src/api/generated/models/action-step.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1105 fix(eslint): bump typescript-eslint from 8.18.1 to 8.19.0
  package-lock.json
  packages/ui/react/package.json
Labels: scope: packages, scope: repo

#1104 feat(design-system): add alert component
  .changeset/add-Alert-component.md
  packages/ui/react/src/components/Forms/Alert/Alert.stories.tsx
  packages/ui/react/src/components/Forms/Alert/Alert.styled.ts
  packages/ui/react/src/components/Forms/Alert/Alert.tsx
  packages/ui/react/src/components/Forms/Alert/index.ts
  packages/ui/react/src/components/Forms/index.ts
Labels: scope: packages

#1109 fix(design-system): properly export Alert component from root path
  .changeset/fix-Alert-export.md
  packages/ui/react/src/components/index.ts
Labels: scope: packages
