Repository devopness/devopness, pull requests merged in 2024-03, with the labels that each got.

#891 feat: 2024-03-01 01:09 - Update API specification
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/language-runtime-framework-commands.ts
  packages/sdks/javascript/src/api/generated/models/language-runtime-framework-defaults.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#892 feat: 2024-03-02 01:36 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/application-update.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/generated/models/language-runtime-framework-defaults.ts
  packages/sdks/javascript/src/api/generated/models/trigger-event.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#893 feat: 2024-03-04 12:02 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/application-update.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/generated/models/language-runtime-framework-defaults.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#894 docs: fix articles archive/unarchive an environment (#884)
  docs/environments/archive-environment.md
  docs/environments/unarchive-environment.md
Labels: cla-signed, scope: docs

#896 feat: 2024-03-13 02:12 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#895 docs: fix english errors in readme
  README.md
Labels: cla-signed, scope: repo

#898 feat: 2024-03-16 20:30 - Update API specification
  packages/sdks/javascript/src/api/generated/models/source-provider-options-relation.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#900 feat: 2024-03-22 14:24 - Update API specification
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#901 docs: fix article "Add a Subnet" to guide the user to click Resource Name
  docs/subnets/add-subnet.md
Labels: cla-signed, scope: docs

#905 docs: fix article "Remove an SSH Key" to guide the user to click resource name
  docs/ssh-keys/remove-ssh-key.md
Labels: cla-signed, scope: docs

#906 feat: 2024-03-29 11:51 - Update API specification
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/linked-resource-attribute.ts
  packages/sdks/javascript/src/api/generated/models/linked-resource-data.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#913 docs: fix article "Remove a Network" to guide the user to click resource name
  docs/networks/remove-network.md
Labels: cla-signed, scope: docs

#912 docs: fix article "Remove a File" to guide the user to click resource name and to use the tabs
  docs/files/remove-file.md
Labels: cla-signed, scope: docs

#915 feat: 2024-03-30 13:03 - Update API specification
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/api/generated/apis/environments-virtual-hosts-api.ts
  packages/sdks/javascript/src/api/generated/apis/virtual-hosts-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/resource-type.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-relation.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/EnvironmentService.ts
  packages/sdks/javascript/src/services/VirtualHostService.ts
  packages/sdks/javascript/tests/DevopnessApiClient.spec.ts
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#916 fix: copyright year
  LICENSE
Labels: cla-signed, scope: repo

#917 chore: update CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Labels: cla-signed, scope: repo

#909 docs: fix article "Edit an Application" to guide the user to click resource name
  docs/applications/edit-application.md
Labels: cla-signed, scope: docs

#911 docs: fix article "Edit a File" to guide the user to click resource name and to use the tabs
  docs/files/edit-file.md
Labels: cla-signed, scope: docs
