Repository devopness/devopness, pull requests merged in 2024-10, with the labels that each got.

#992 feat(design-system): expose UI components via Storybook
  README.md
  packages/ui/react/.gitignore
  packages/ui/react/.prettierignore
  packages/ui/react/.prettierrc.json
  packages/ui/react/.storybook/README.md
  packages/ui/react/.storybook/devopness.ts
  packages/ui/react/.storybook/main.ts
  packages/ui/react/.storybook/manager.ts
  packages/ui/react/.storybook/preview-head.html
  packages/ui/react/.storybook/preview.ts
  packages/ui/react/README.md
  packages/ui/react/eslint.config.js
  packages/ui/react/package-lock.json
  packages/ui/react/package.json
  packages/ui/react/src/colors/README.md
  packages/ui/react/src/colors/getColor.ts
  packages/ui/react/src/colors/index.ts
  packages/ui/react/src/colors/types.ts
  packages/ui/react/src/components/Buttons/Button/Button.stories.ts
  packages/ui/react/src/components/Buttons/Button/Button.styled.ts
  packages/ui/react/src/components/Buttons/Button/Button.test.tsx
  packages/ui/react/src/components/Buttons/Button/Button.tsx
  packages/ui/react/src/components/Buttons/Button/index.ts
  packages/ui/react/src/components/Buttons/index.ts
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.stories.tsx
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.styled.ts
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.test.tsx
  packages/ui/react/src/components/Primitives/Tooltip/Tooltip.tsx
  packages/ui/react/src/components/Primitives/Tooltip/index.ts
  packages/ui/react/src/components/Primitives/index.ts
  packages/ui/react/src/components/README.md
  packages/ui/react/src/components/Templates/Tabs/Tabs.stories.tsx
  packages/ui/react/src/components/Templates/Tabs/Tabs.styled.ts
  packages/ui/react/src/components/Templates/Tabs/Tabs.test.tsx
  packages/ui/react/src/components/Templates/Tabs/Tabs.tsx
  packages/ui/react/src/components/Templates/Tabs/index.ts
  packages/ui/react/src/components/Templates/index.ts
  packages/ui/react/src/components/index.ts
  packages/ui/react/src/fonts/getFont.ts
  packages/ui/react/src/fonts/index.ts
  packages/ui/react/src/hooks/index.ts
  packages/ui/react/src/hooks/useWindowSize.tsx
  packages/ui/react/src/icons/CircleBubble.tsx
  packages/ui/react/src/icons/README.md
  packages/ui/react/src/icons/getImageAssetUrl.ts
  packages/ui/react/src/icons/iconLoader.tsx
  packages/ui/react/src/icons/index.ts
  packages/ui/react/src/index.ts
  packages/ui/react/src/setupTest.ts
  packages/ui/react/src/vite-env.d.ts
  packages/ui/react/tsconfig.json
  packages/ui/react/vite.config.ts
Labels: cla-signed, scope: packages, scope: repo

#994 feat(design-system): publish UI components to npm
  .github/workflows/ui-react-ci.yml
  .github/workflows/ui-react-release.yml
  packages/ui/react/package.json
Labels: cla-signed, scope: ci, scope: packages

#995 fix(design-sytem): fail to render Button without an icon
  packages/ui/react/src/components/Buttons/Button/Button.stories.ts
  packages/ui/react/src/components/Buttons/Button/Button.tsx
  packages/ui/react/src/icons/iconLoader.test.tsx
  packages/ui/react/src/icons/iconLoader.tsx
Labels: cla-signed, scope: packages

#996 feat(design-system): add support to CommonJS `require('@devopness/ui-react')`
  packages/ui/react/package.json
  packages/ui/react/vite.config.ts
Labels: cla-signed, scope: packages

#998 ci: avoid building packages sdk-js and ui-react 2 times per action
  .github/workflows/sdk-javascript-ci.yml
  .github/workflows/sdk-javascript-release.yml
  .github/workflows/ui-react-ci.yml
  .github/workflows/ui-react-release.yml
Labels: cla-signed, scope: ci

#1001 chore: improve description on API response status codes
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript
