Repository devopness/devopness, pull requests merged in 2024-05, with the labels that each got.

#951 fix: cla assistant action not triggering
  .github/workflows/cla-assistant.yml
  .github/workflows/cla.yml
Labels: cla-signed, scope: ci

#952 feat: rename cla job
  .github/workflows/cla-assistant.yml
  .github/workflows/cla.yml
Labels: cla-signed, scope: ci

#946 docs: update `Add SSL Certificate` article
  docs/ssl-certificates/add-ssl-certificate.md
Labels: cla-signed, scope: docs

#954 fix: do not auto close prioritized issues
  .github/workflows/issue-stale.yml
Labels: cla-signed, scope: ci

#958 feat: 2024-05-21 18:31 - Update API specification
  packages/sdks/javascript/src/api/generated/apis/virtual-hosts-api.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-get-status.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-relation.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript

#959 feat: 2024-05-23 02:26 - Update API specification
  packages/sdks/javascript/src/api/generated/models/application-environment-create.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/application-update.ts
  packages/sdks/javascript/src/api/generated/models/application.ts
  packages/sdks/javascript/src/api/spec.json
Labels: cla-signed, scope: packages, scope: sdks, scope: sdk-javascript
