Repository devopness/devopness, pull requests merged in 2025-05, with the labels that each got.

#1650 feat(sdk-python): expose cron-job, daemon, service and ssh-key services in Devopness Client
  packages/sdks/python/.version
  packages/sdks/python/devopness/client.py
  packages/sdks/python/devopness/services/cron_job_service.py
  packages/sdks/python/devopness/services/daemon_service.py
  packages/sdks/python/devopness/services/environment_service.py
  packages/sdks/python/devopness/services/service_service.py
  packages/sdks/python/devopness/services/ssh_key_service.py
Labels: scope: packages, scope: sdks

#1651 feat: 2025-05-02 23:08 - Update API specification
  .changeset/curly-doors-cough.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-deployment-content.ts
  packages/sdks/python/devopness/generated/models/action_deployment_content.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1653 feat: 2025-05-03 18:09 - Update API specification
  .changeset/eager-buttons-glow.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-resource.ts
  packages/sdks/javascript/src/api/generated/models/action-target-credential-data.ts
  packages/sdks/javascript/src/api/generated/models/action-target-data.ts
  packages/sdks/javascript/src/api/generated/models/action-triggered-from.ts
  packages/sdks/javascript/src/api/generated/models/action-type.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/cron-job-relation.ts
  packages/sdks/javascript/src/api/generated/models/daemon-relation.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/network-relation.ts
  packages/sdks/javascript/src/api/generated/models/network-rule-relation.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-relation.ts
  packages/sdks/python/.version
  packages/sdks/python/devopness/generated/models/__init__.py
  packages/sdks/python/devopness/generated/models/action_resource_data.py
  packages/sdks/python/devopness/generated/models/action_target_credential_data.py
  packages/sdks/python/devopness/generated/models/action_target_data.py
  packages/sdks/python/devopness/generated/models/action_triggered_from.py
  packages/sdks/python/devopness/generated/models/action_type.py
  packages/sdks/python/devopness/generated/models/application_relation.py
  packages/sdks/python/devopness/generated/models/cron_job_relation.py
  packages/sdks/python/devopness/generated/models/daemon_relation.py
  packages/sdks/python/devopness/generated/models/network_relation.py
  packages/sdks/python/devopness/generated/models/network_rule_relation.py
  packages/sdks/python/devopness/generated/models/virtual_host_relation.py
  packages/sdks/python/devopness/models.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1658 feat: 2025-05-05 22:02 - Update API specification
  .changeset/blue-plums-look.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-target-network-data.ts
  packages/sdks/javascript/src/api/generated/models/action-target-server-data.ts
  packages/sdks/javascript/src/api/generated/models/application-relation.ts
  packages/sdks/javascript/src/api/generated/models/credential-relation.ts
  packages/sdks/javascript/src/api/generated/models/cron-job-relation.ts
  packages/sdks/javascript/src/api/generated/models/daemon-relation.ts
  packages/sdks/javascript/src/api/generated/models/server-relation.ts
  packages/sdks/javascript/src/api/generated/models/service-relation.ts
  packages/sdks/javascript/src/api/generated/models/ssl-certificate-relation.ts
  packages/sdks/javascript/src/api/generated/models/virtual-host-relation.ts
  packages/sdks/python/.version
  packages/sdks/python/devopness/generated/models/action_target_network_data.py
  packages/sdks/python/devopness/generated/models/action_target_server_data.py
  packages/sdks/python/devopness/generated/models/application_relation.py
  packages/sdks/python/devopness/generated/models/credential_relation.py
  packages/sdks/python/devopness/generated/models/cron_job_relation.py
  packages/sdks/python/devopness/generated/models/daemon_relation.py
  packages/sdks/python/devopness/generated/models/server_relation.py
  packages/sdks/python/devopness/generated/models/service_relation.py
  packages/sdks/python/devopness/generated/models/ssl_certificate_relation.py
  packages/sdks/python/devopness/generated/models/virtual_host_relation.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1660 feat: 2025-05-06 00:18 - Update API specification
  .changeset/vast-maps-count.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-type.ts
  packages/sdks/python/.version
  packages/sdks/python/devopness/generated/models/action_type.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1668 fix: update h11 to fix security/dependabot #63
  packages/sdks/python/.version
  packages/sdks/python/poetry.lock
  packages/sdks/python/pyproject.toml
Labels: scope: packages, scope: sdks

#1669 feat(sdk-python): add 'access token' auto refresh functionality
  packages/sdks/python/.version
  packages/sdks/python/devopness/base/base_service.py
  packages/sdks/python/devopness/client.py
  packages/sdks/python/devopness/client_config.py
  packages/sdks/python/tests/unit/base/test_service.py
  packages/sdks/python/tests/unit/test_client.py
Labels: scope: packages, scope: sdks

#1673 feat: 2025-05-07 20:53 - Update API specification
  .changeset/angry-tigers-yawn.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-target.ts
  packages/sdks/python/.version
  packages/sdks/python/devopness/generated/models/action_target.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1672 feat(sdk-python): expose actions, pipelines, resource links, and variables service in client
  packages/sdks/python/.version
  packages/sdks/python/devopness/client.py
  packages/sdks/python/devopness/services/action_service.py
  packages/sdks/python/devopness/services/pipeline_service.py
  packages/sdks/python/devopness/services/resource_link_service.py
  packages/sdks/python/devopness/services/variable_service.py
  packages/sdks/python/tests/unit/test_client.py
Labels: scope: packages, scope: sdks

#1675 feat(Icon): add Home icon by MdHome
  .changeset/add-home-icon.md
  packages/ui/react/src/icons/iconLoader.tsx
Labels: scope: packages

#1684 feat(sdk-python): integrate changeset and refactor CI for versioned publishing
  .changeset/config.json
  .changeset/cuddly-parents-roll.md
  .github/workflows/ci-sdk-python.yml
  .github/workflows/release-packages.yml
  package-lock.json
  packages/sdks/python/.version
  packages/sdks/python/package.json
  packages/sdks/python/scripts/publish-dev.sh
Labels: scope: ci, scope: packages, scope: sdks, scope: repo

#1688 feat(sdk-python): expose new services in client and improve test coverage
  .changeset/expose-services.md
  packages/sdks/python/devopness/client.py
  packages/sdks/python/devopness/services/action_service.py
  packages/sdks/python/devopness/services/environment_service.py
  packages/sdks/python/devopness/services/hook_service.py
  packages/sdks/python/devopness/services/network_rule_service.py
  packages/sdks/python/devopness/services/organization_service.py
  packages/sdks/python/devopness/services/pipeline_service.py
  packages/sdks/python/devopness/services/project_service.py
  packages/sdks/python/devopness/services/resource_event_service.py
  packages/sdks/python/devopness/services/role_service.py
  packages/sdks/python/devopness/services/social_account_service.py
  packages/sdks/python/devopness/services/ssl_certificate_service.py
  packages/sdks/python/devopness/services/static_service.py
  packages/sdks/python/devopness/services/team_service.py
  packages/sdks/python/devopness/services/user_service.py
  packages/sdks/python/tests/unit/test_client.py
Labels: scope: packages, scope: sdks

#1708 feat(sdk-python): setup pypi publish workflow and disable test-pypi
  .changeset/first-official-release-devopness-sdk-python.md
  .github/workflows/release-packages.yml
  packages/sdks/python/Makefile
  packages/sdks/python/README.md
  packages/sdks/python/package.json
  packages/sdks/python/scripts/publish.sh
Labels: scope: ci, scope: packages, scope: sdks

#1709 fix(package-lock): rename sdk-python-dev to sdk-python
  package-lock.json
  packages/sdks/python/package.json
Labels: scope: packages, scope: sdks, scope: repo

#1711 feat: improve README project list with Python SDK and CI/Version badges
  README.md
  packages/sdks/python/CHANGELOG.md
  packages/sdks/python/pyproject.toml
Labels: scope: packages, scope: sdks, scope: repo

#1728 feat: 2025-05-20 14:51 - Update API specification
  .changeset/breezy-emus-kneel.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/cloud-instance-relation.ts
  packages/sdks/python/src/devopness/generated/models/cloud_instance_relation.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1735 docs: Add environments credentials
  docs/credentials/list-credentials.md
  docs/credentials/view-credential.md
Labels: scope: docs

#1741 ci: Enable stale workflow for PRs to close abandoned pull requests
  .github/workflows/issue-stale.yml
Labels: scope: ci

#1751 feat: 2025-05-28 20:41 - Update API specification
  .changeset/brave-scissors-jog.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/user-me.ts
  packages/sdks/javascript/src/api/generated/models/user.ts
  packages/sdks/python/src/devopness/generated/models/user.py
  packages/sdks/python/src/devopness/generated/models/user_me.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1765 feat(ci): add workflow_dispatch trigger to PR - Auto Merge Dependabot action
  .github/workflows/pr-auto-merge-dependabot.yml
Labels: scope: ci
