Repository devopness/devopness, pull requests merged in 2025-04, with the labels that each got.

#1530 feat: 2025-04-01 19:22 - Update API specification
  .changeset/support-organizations.md
  packages/sdks/javascript/src/api/generated/apis/organizations-api.ts
  packages/sdks/javascript/src/api/generated/apis/organizations-environments-api.ts
  packages/sdks/javascript/src/api/generated/apis/organizations-projects-api.ts
  packages/sdks/javascript/src/api/generated/apis/projects-api.ts
  packages/sdks/javascript/src/api/generated/apis/users-api.ts
  packages/sdks/javascript/src/api/generated/apis/users-environments-api.ts
  packages/sdks/javascript/src/api/generated/apis/users-projects-api.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/organization-activity.ts
  packages/sdks/javascript/src/api/generated/models/organization-create.ts
  packages/sdks/javascript/src/api/generated/models/organization-relation.ts
  packages/sdks/javascript/src/api/generated/models/organization-update.ts
  packages/sdks/javascript/src/api/generated/models/organization.ts
  packages/sdks/javascript/src/api/generated/models/project-create.ts
  packages/sdks/javascript/src/api/generated/models/user-me.ts
  packages/sdks/javascript/src/api/generated/models/user-update.ts
  packages/sdks/javascript/src/api/generated/models/user-verify.ts
  packages/sdks/javascript/src/api/generated/models/user.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1532 feat: add Organization Service to Devopness API Client
  .changeset/honest-buckets-jog.md
  packages/sdks/javascript/src/DevopnessApiClient.ts
  packages/sdks/javascript/src/services/OrganizationService.ts
  packages/sdks/javascript/tests/DevopnessApiClient.spec.ts
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1529 feat(design-system): enhance Card URL handling with full LinkProps support
  .changeset/update-card-url-prop.md
  packages/ui/react/src/components/Templates/Card/Card.test.tsx
  packages/ui/react/src/components/Templates/Card/Card.tsx
Labels: scope: packages

#1536 feat: 2025-04-02 17:50 - Update API specification
  .changeset/chatty-planets-dress.md
  .changeset/upset-views-smash.md
  packages/sdks/javascript/src/api/generated/apis/static-data-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-application-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-cloud-provider-service-instances-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-cloud-provider-services-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-credential-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-cron-job-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-environment-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-network-rule-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-permissions-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-resource-types-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-server-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-service-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-user-profile-options-api.ts
  packages/sdks/javascript/src/api/generated/apis/static-data-virtual-host-options-api.ts
  packages/sdks/javascript/src/api/generated/models/organization-relation.ts
  packages/sdks/javascript/src/api/generated/models/organization.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/StaticService.ts
  packages/sdks/javascript/tests/DevopnessApiClient.spec.ts
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1538 feat(design-system): update icon library and create contributing guide
  .changeset/update-icons.md
  packages/ui/react/src/components/Buttons/Button/Button.stories.ts
  packages/ui/react/src/components/Forms/Alert/Alert.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
  packages/ui/react/src/components/Primitives/Icon/Icon.stories.tsx
  packages/ui/react/src/components/Primitives/Pagination/Pagination.tsx
  packages/ui/react/src/icons/README.md
  packages/ui/react/src/icons/iconLoader.test.tsx
  packages/ui/react/src/icons/iconLoader.tsx
  packages/ui/react/src/icons/index.ts
  packages/ui/react/src/icons/types.ts
Labels: scope: packages

#1556 fix(design-system): runtime error rendering `shieldLock` icon
  .changeset/fix-shield-lock-icon-runtime-error.md
  packages/ui/react/src/icons/iconLoader.tsx
Labels: scope: packages

#1487 feat: add automatic focus to Input for validation errors #1157
  .changeset/bright-jars-jam.md
  package-lock.json
  packages/ui/react/src/components/Forms/Input/Input.stories.tsx
  packages/ui/react/src/components/Forms/Input/Input.test.tsx
  packages/ui/react/src/components/Forms/Input/Input.tsx
  packages/ui/react/tsconfig.json
Labels: scope: packages, scope: repo

#1577 test: Add tests for Pagination component
  packages/ui/react/src/components/Primitives/Pagination/Pagination.test.tsx
Labels: scope: packages

#1581 feat: add workflow to auto-merge Dependabot PRs for Patch Updates
  .github/workflows/pr-auto-merge-dependabot.yml
Labels: scope: ci

#1585 fix(ci): change Dependabot auto-merge strategy to use squash
  .github/workflows/pr-auto-merge-dependabot.yml
Labels: scope: ci

#1586 refactor(ci): allow patch and minor updates in Dependabot auto-merge
  .github/workflows/pr-auto-merge-dependabot.yml
Labels: scope: ci

#1571 test: Add tests for Label component
  packages/ui/react/src/components/Primitives/Label/Label.test.tsx
Labels: scope: packages

#1587 feat: 2025-04-15 13:28 - Update API Specification
  .changeset/four-trains-smile.md
  packages/sdks/javascript/src/api/generated/apis/applications-api.ts
  packages/sdks/javascript/src/api/generated/apis/applications-deployments-api.ts
  packages/sdks/javascript/src/api/generated/apis/credentials-api.ts
  packages/sdks/javascript/src/api/generated/apis/cron-jobs-api.ts
  packages/sdks/javascript/src/api/generated/apis/daemons-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-applications-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-credentials-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-cron-jobs-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-daemons-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-network-rules-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-networks-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-servers-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-services-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-sshkeys-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-sslcertificates-api.ts
  packages/sdks/javascript/src/api/generated/apis/environments-virtual-hosts-api.ts
  packages/sdks/javascript/src/api/generated/apis/network-rules-api.ts
  packages/sdks/javascript/src/api/generated/apis/networks-api.ts
  packages/sdks/javascript/src/api/generated/apis/servers-api.ts
  packages/sdks/javascript/src/api/generated/apis/services-api.ts
  packages/sdks/javascript/src/api/generated/apis/sshkeys-api.ts
  packages/sdks/javascript/src/api/generated/apis/sslcertificates-api.ts
  packages/sdks/javascript/src/api/generated/apis/virtual-hosts-api.ts
  packages/sdks/javascript/src/api/spec.json
  packages/sdks/javascript/src/services/ApplicationService.ts
  packages/sdks/javascript/src/services/EnvironmentService.ts
  packages/sdks/javascript/src/services/index.ts
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1591 feat: init the structure for Devopness Python SDK
  .editorconfig
  .gitignore
  packages/sdks/python/Dockerfile
  packages/sdks/python/Makefile
  packages/sdks/python/README.md
  packages/sdks/python/devopness/__init__.py
  packages/sdks/python/devopness/api/generated/.openapi-generator-ignore
  packages/sdks/python/devopness/api/generated/__init__.py
  packages/sdks/python/devopness/api/generated/api/__init__.py
  packages/sdks/python/devopness/api/generated/models/__init__.py
  packages/sdks/python/devopness/api/generator/templates/api.mustache
  packages/sdks/python/devopness/api/generator/templates/model.mustache
  packages/sdks/python/devopness/api/spec.json
  packages/sdks/python/devopness/common/__init__.py
  packages/sdks/python/devopness/common/api_response.py
  packages/sdks/python/devopness/devopness_api_client.py
  packages/sdks/python/devopness/services/__init__.py
  packages/sdks/python/devopness/services/api_base_service.py
  packages/sdks/python/openapitools.json
  packages/sdks/python/openapitools.schema.json
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.sh
Labels: scope: packages, scope: sdks

#1597 feat(sdk-python): implement support for Users API
  .github/workflows/ci-sdk-python.yml
  packages/sdks/python/Dockerfile
  packages/sdks/python/Makefile
  packages/sdks/python/README.md
  packages/sdks/python/devopness/__init__.py
  packages/sdks/python/devopness/api/generated/api/users_api.py
  packages/sdks/python/devopness/api/generated/api/users_environments_api.py
  packages/sdks/python/devopness/api/generated/api/users_passwords_api.py
  packages/sdks/python/devopness/api/generated/api/users_projects_api.py
  packages/sdks/python/devopness/api/generated/api/users_team_invitations_api.py
  packages/sdks/python/devopness/api/generated/models/__init__.py
  packages/sdks/python/devopness/api/generated/models/credits.py
  packages/sdks/python/devopness/api/generated/models/language.py
  packages/sdks/python/devopness/api/generated/models/social_account_displayable_name.py
  packages/sdks/python/devopness/api/generated/models/social_account_provider.py
  packages/sdks/python/devopness/api/generated/models/social_account_relation.py
  packages/sdks/python/devopness/api/generated/models/static_billing_info.py
  packages/sdks/python/devopness/api/generated/models/subscription.py
  packages/sdks/python/devopness/api/generated/models/subscription_balance.py
  packages/sdks/python/devopness/api/generated/models/subscription_plan.py
  packages/sdks/python/devopness/api/generated/models/triggered_action_stats.py
  packages/sdks/python/devopness/api/generated/models/triggered_action_summary.py
  packages/sdks/python/devopness/api/generated/models/triggered_actions.py
  packages/sdks/python/devopness/api/generated/models/user.py
  packages/sdks/python/devopness/api/generated/models/user_activity.py
  packages/sdks/python/devopness/api/generated/models/user_billing.py
  packages/sdks/python/devopness/api/generated/models/user_create.py
  packages/sdks/python/devopness/api/generated/models/user_environment_stats.py
  packages/sdks/python/devopness/api/generated/models/user_login.py
  packages/sdks/python/devopness/api/generated/models/user_login_response.py
  packages/sdks/python/devopness/api/generated/models/user_me.py
  packages/sdks/python/devopness/api/generated/models/user_profile_options.py
  packages/sdks/python/devopness/api/generated/models/user_project_stats.py
  packages/sdks/python/devopness/api/generated/models/user_refresh_token.py
  packages/sdks/python/devopness/api/generated/models/user_refresh_token_response.py
  packages/sdks/python/devopness/api/generated/models/user_relation.py
  packages/sdks/python/devopness/api/generated/models/user_resend_verification.py
  packages/sdks/python/devopness/api/generated/models/user_team_stats.py
  packages/sdks/python/devopness/api/generated/models/user_update.py
  packages/sdks/python/devopness/api/generated/models/user_url.py
  packages/sdks/python/devopness/api/generated/models/user_verify.py
  packages/sdks/python/devopness/api/generator/templates/__init__api.mustache
  packages/sdks/python/devopness/api/generator/templates/__init__model.mustache
  packages/sdks/python/devopness/api/generator/templates/api.mustache
  packages/sdks/python/devopness/api/generator/templates/model.mustache
  packages/sdks/python/devopness/api/generator/templates/model_generic.mustache
  packages/sdks/python/devopness/common/api_response.py
  packages/sdks/python/devopness/devopness_api_client.py
  packages/sdks/python/devopness/models/__init__.py
  packages/sdks/python/devopness/py.typed
  packages/sdks/python/devopness/services/__init__.py
  packages/sdks/python/devopness/services/api_base_service.py
  packages/sdks/python/devopness/services/user_service.py
  packages/sdks/python/poetry.lock
  packages/sdks/python/poetry.toml
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.sh
  packages/sdks/python/scripts/post-build.sh
  packages/sdks/python/scripts/publish-dev.sh
  packages/sdks/python/scripts/temp.sh
Labels: scope: ci, scope: packages, scope: sdks

#1598 feat(sdk-python): support async and sync methods
  packages/sdks/python/README.md
  packages/sdks/python/devopness/__init__.py
  packages/sdks/python/devopness/api/generated/api/users_api.py
  packages/sdks/python/devopness/api/generated/api/users_environments_api.py
  packages/sdks/python/devopness/api/generated/api/users_passwords_api.py
  packages/sdks/python/devopness/api/generated/api/users_projects_api.py
  packages/sdks/python/devopness/api/generated/api/users_team_invitations_api.py
  packages/sdks/python/devopness/api/generator/templates/api.mustache
  packages/sdks/python/devopness/devopness_client.py
  packages/sdks/python/devopness/services/__init__.py
  packages/sdks/python/devopness/services/api_base_service.py
  packages/sdks/python/pyproject.toml
Labels: scope: packages, scope: sdks

#1600 fix(sdk-python): module exports and add version control for dev-package
  packages/sdks/python/.version
  packages/sdks/python/README.md
  packages/sdks/python/devopness/common/__init__.py
  packages/sdks/python/devopness/models/__init__.py
  packages/sdks/python/devopness/services/__init__.py
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/publish-dev.sh
Labels: scope: packages, scope: sdks

#1593 docs: adding docs to projects/list-projects and projects/view-project
  docs/projects/list-projects.md
  docs/projects/view-project.md
Labels: scope: docs

#1608 refactor(sdk-python): improve DX by supporting plain dicts in methods call
  packages/sdks/python/.generator/templates/__init__api.mustache
  packages/sdks/python/.generator/templates/__init__model.mustache
  packages/sdks/python/.generator/templates/api.mustache
  packages/sdks/python/.generator/templates/api_imports.mustache
  packages/sdks/python/.generator/templates/api_method_body_endpoint.mustache
  packages/sdks/python/.generator/templates/api_method_body_return.mustache
  packages/sdks/python/.generator/templates/api_method_params.mustache
  packages/sdks/python/.generator/templates/api_method_return.mustache
  packages/sdks/python/.generator/templates/model_generic.mustache
  packages/sdks/python/.version
  packages/sdks/python/devopness/_base/base_model.py
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_client.py
  packages/sdks/python/devopness/_client_config.py
  packages/sdks/python/devopness/_core/response.py
  packages/sdks/python/devopness/_generated/api/__init__.py
  packages/sdks/python/devopness/_generated/api/users_api.py
  packages/sdks/python/devopness/_generated/api/users_environments_api.py
  packages/sdks/python/devopness/_generated/api/users_passwords_api.py
  packages/sdks/python/devopness/_generated/api/users_projects_api.py
  packages/sdks/python/devopness/_generated/api/users_team_invitations_api.py
  packages/sdks/python/devopness/_generated/models/__init__.py
  packages/sdks/python/devopness/_generated/models/credits.py
  packages/sdks/python/devopness/_generated/models/social_account_relation.py
  packages/sdks/python/devopness/_generated/models/static_billing_info.py
  packages/sdks/python/devopness/_generated/models/subscription.py
  packages/sdks/python/devopness/_generated/models/subscription_balance.py
  packages/sdks/python/devopness/_generated/models/subscription_plan.py
  packages/sdks/python/devopness/_generated/models/triggered_action_stats.py
  packages/sdks/python/devopness/_generated/models/triggered_action_summary.py
  packages/sdks/python/devopness/_generated/models/triggered_actions.py
  packages/sdks/python/devopness/_generated/models/user.py
  packages/sdks/python/devopness/_generated/models/user_activity.py
  packages/sdks/python/devopness/_generated/models/user_billing.py
  packages/sdks/python/devopness/_generated/models/user_create.py
  packages/sdks/python/devopness/_generated/models/user_environment_stats.py
  packages/sdks/python/devopness/_generated/models/user_login.py
  packages/sdks/python/devopness/_generated/models/user_login_response.py
  packages/sdks/python/devopness/_generated/models/user_me.py
  packages/sdks/python/devopness/_generated/models/user_profile_options.py
  packages/sdks/python/devopness/_generated/models/user_project_stats.py
  packages/sdks/python/devopness/_generated/models/user_refresh_token.py
  packages/sdks/python/devopness/_generated/models/user_refresh_token_response.py
  packages/sdks/python/devopness/_generated/models/user_relation.py
  packages/sdks/python/devopness/_generated/models/user_resend_verification.py
  packages/sdks/python/devopness/_generated/models/user_team_stats.py
  packages/sdks/python/devopness/_generated/models/user_update.py
  packages/sdks/python/devopness/_generated/models/user_url.py
  packages/sdks/python/devopness/_generated/models/user_verify.py
  packages/sdks/python/devopness/_services/__init__.py
  packages/sdks/python/devopness/_services/user_service.py
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.py
  packages/sdks/python/scripts/temp.sh
Labels: scope: packages, scope: sdks

#1617 fix: dependabot auto-merge to respect required workflow statuses
  .github/workflows/ci-sdk-javascript.yml
  .github/workflows/ci-sdk-python.yml
  .github/workflows/ci-ui-react.yml
Labels: scope: ci

#1619 fix: standardize detect-changes job and add verify-build job
  .github/workflows/ci-sdk-javascript.yml
  .github/workflows/ci-sdk-python.yml
  .github/workflows/ci-ui-react.yml
Labels: scope: ci

#1618 feat(sdk-python): add structured error handling and initial test setup
  .github/workflows/ci-sdk-python.yml
  .gitignore
  packages/sdks/python/.version
  packages/sdks/python/Makefile
  packages/sdks/python/README.md
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_core/__init__.py
  packages/sdks/python/devopness/_core/api_error.py
  packages/sdks/python/devopness/_core/network_error.py
  packages/sdks/python/devopness/_core/sdk_error.py
  packages/sdks/python/devopness/_generated/api/users_api.py
  packages/sdks/python/devopness/core.py
  packages/sdks/python/generator/api/spec.json
  packages/sdks/python/generator/templates/__init__api.mustache
  packages/sdks/python/generator/templates/__init__model.mustache
  packages/sdks/python/generator/templates/api.mustache
  packages/sdks/python/generator/templates/api_imports.mustache
  packages/sdks/python/generator/templates/api_method_body_endpoint.mustache
  packages/sdks/python/generator/templates/api_method_body_return.mustache
  packages/sdks/python/generator/templates/api_method_params.mustache
  packages/sdks/python/generator/templates/api_method_return.mustache
  packages/sdks/python/generator/templates/model.mustache
  packages/sdks/python/generator/templates/model_anyof.mustache
  packages/sdks/python/generator/templates/model_generic.mustache
  packages/sdks/python/generator/templates/model_oneof.mustache
  packages/sdks/python/openapitools.json
  packages/sdks/python/poetry.lock
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.py
  packages/sdks/python/scripts/test.sh
  packages/sdks/python/tests/core/test_api_error.py
  packages/sdks/python/tests/core/test_network_error.py
  packages/sdks/python/tests/core/test_response.py
Labels: scope: ci, scope: packages, scope: sdks

#1620 refactor(sdk-python): simplify build and test setup using native python tools
  .github/workflows/ci-sdk-python.yml
  .gitignore
  packages/sdks/python/.version
  packages/sdks/python/Dockerfile
  packages/sdks/python/Makefile
  packages/sdks/python/devopness/_base/base_model.py
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_client_config.py
  packages/sdks/python/devopness/_core/__init__.py
  packages/sdks/python/devopness/_core/api_error.py
  packages/sdks/python/devopness/_core/network_error.py
  packages/sdks/python/devopness/_core/response.py
  packages/sdks/python/devopness/_generated/api/users_api.py
  packages/sdks/python/devopness/_generated/models/triggered_actions.py
  packages/sdks/python/devopness/_generated/models/user_activity.py
  packages/sdks/python/devopness/_generated/models/user_billing.py
  packages/sdks/python/devopness/models.py
  packages/sdks/python/generator/templates/api.mustache
  packages/sdks/python/generator/templates/api_method_return.mustache
  packages/sdks/python/openapitools.json
  packages/sdks/python/openapitools.schema.json
  packages/sdks/python/poetry.lock
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.py
  packages/sdks/python/scripts/publish-dev.sh
  packages/sdks/python/scripts/test-unit.sh
  packages/sdks/python/tests/core/test_network_error.py
  packages/sdks/python/tests/core/test_response.py
  packages/sdks/python/tests/unit/__init__.py
  packages/sdks/python/tests/unit/core/__init__.py
  packages/sdks/python/tests/unit/core/test_api_error.py
  packages/sdks/python/tests/unit/core/test_network_error.py
  packages/sdks/python/tests/unit/core/test_response.py
Labels: scope: ci, scope: packages, scope: sdks

#1623 feat(sdk-python): add support to project service
  packages/sdks/python/.version
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_client.py
  packages/sdks/python/devopness/_core/response.py
  packages/sdks/python/devopness/_generated/api/__init__.py
  packages/sdks/python/devopness/_generated/api/projects_api.py
  packages/sdks/python/devopness/_generated/api/users_api.py
  packages/sdks/python/devopness/_generated/models/__init__.py
  packages/sdks/python/devopness/_generated/models/os_users_inner.py
  packages/sdks/python/devopness/_generated/models/project.py
  packages/sdks/python/devopness/_generated/models/project_create.py
  packages/sdks/python/devopness/_generated/models/project_relation.py
  packages/sdks/python/devopness/_generated/models/project_update.py
  packages/sdks/python/devopness/_generated/models/resource_summary_item.py
  packages/sdks/python/devopness/_generated/models/resource_summary_item_summary.py
  packages/sdks/python/devopness/_services/project_service.py
  packages/sdks/python/devopness/models.py
  packages/sdks/python/devopness/services.py
  packages/sdks/python/generator/templates/__init__model.mustache
  packages/sdks/python/generator/templates/api_method_body_return.mustache
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.py
  packages/sdks/python/scripts/temp.sh
  packages/sdks/python/tests/unit/base/__init__.py
  packages/sdks/python/tests/unit/base/test_service.py
  packages/sdks/python/tests/unit/core/test_response.py
Labels: scope: packages, scope: sdks

#1628 feat(sdk-python): add support to environment service
  packages/sdks/python/.version
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_client.py
  packages/sdks/python/devopness/_generated/api/__init__.py
  packages/sdks/python/devopness/_generated/api/environments_api.py
  packages/sdks/python/devopness/_generated/api/projects_archived_environments_api.py
  packages/sdks/python/devopness/_generated/api/projects_environments_api.py
  packages/sdks/python/devopness/_generated/models/__init__.py
  packages/sdks/python/devopness/_generated/models/archived_environment_relation.py
  packages/sdks/python/devopness/_generated/models/environment.py
  packages/sdks/python/devopness/_generated/models/environment_project_create.py
  packages/sdks/python/devopness/_generated/models/environment_relation.py
  packages/sdks/python/devopness/_generated/models/environment_type.py
  packages/sdks/python/devopness/_generated/models/environment_update.py
  packages/sdks/python/devopness/_generated/models/team_relation.py
  packages/sdks/python/devopness/_services/environment_service.py
  packages/sdks/python/devopness/models.py
  packages/sdks/python/devopness/services.py
  packages/sdks/python/scripts/build.py
  packages/sdks/python/tests/unit/base/test_service.py
Labels: scope: packages, scope: sdks

#1629 feat(sdk-python): add support to credential service
  packages/sdks/python/.version
  packages/sdks/python/devopness/_client.py
  packages/sdks/python/devopness/_generated/api/__init__.py
  packages/sdks/python/devopness/_generated/api/credentials_api.py
  packages/sdks/python/devopness/_generated/api/credentials_repositories_api.py
  packages/sdks/python/devopness/_generated/models/__init__.py
  packages/sdks/python/devopness/_generated/models/cloud_os_version_code.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_input_settings.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_input_settings_default_value.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_property_type.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_property_validation.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_service.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_service_code.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_service_region.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_service_resource_type.py
  packages/sdks/python/devopness/_generated/models/cloud_provider_service_resource_type_scope.py
  packages/sdks/python/devopness/_generated/models/commit.py
  packages/sdks/python/devopness/_generated/models/credential.py
  packages/sdks/python/devopness/_generated/models/credential_aws.py
  packages/sdks/python/devopness/_generated/models/credential_digital_ocean.py
  packages/sdks/python/devopness/_generated/models/credential_environment_create.py
  packages/sdks/python/devopness/_generated/models/credential_google_cloud.py
  packages/sdks/python/devopness/_generated/models/credential_input_settings.py
  packages/sdks/python/devopness/_generated/models/credential_input_settings_credential.py
  packages/sdks/python/devopness/_generated/models/credential_provider_type.py
  packages/sdks/python/devopness/_generated/models/credential_relation.py
  packages/sdks/python/devopness/_generated/models/credential_setting.py
  packages/sdks/python/devopness/_generated/models/credential_source_provider.py
  packages/sdks/python/devopness/_generated/models/credential_update.py
  packages/sdks/python/devopness/_generated/models/operating_system.py
  packages/sdks/python/devopness/_generated/models/operating_system_version.py
  packages/sdks/python/devopness/_generated/models/operation_custom_settings.py
  packages/sdks/python/devopness/_generated/models/provider_code.py
  packages/sdks/python/devopness/_generated/models/provider_input_settings.py
  packages/sdks/python/devopness/_generated/models/provider_input_settings_validation.py
  packages/sdks/python/devopness/_generated/models/provider_relation.py
  packages/sdks/python/devopness/_generated/models/provider_settings.py
  packages/sdks/python/devopness/_generated/models/provider_type.py
  packages/sdks/python/devopness/_generated/models/repository.py
  packages/sdks/python/devopness/_generated/models/repository_branch.py
  packages/sdks/python/devopness/_generated/models/repository_relation.py
  packages/sdks/python/devopness/_generated/models/repository_tag.py
  packages/sdks/python/devopness/_generated/models/repository_tag_commit.py
  packages/sdks/python/devopness/_generated/models/source_provider_name.py
  packages/sdks/python/devopness/_services/credential_service.py
  packages/sdks/python/devopness/models.py
  packages/sdks/python/devopness/services.py
  packages/sdks/python/scripts/build.py
Labels: scope: packages, scope: sdks

#1624 docs: Add Help for team-memberships Closes #1217
  docs/team-memberships/add-team-membership.md
  docs/team-memberships/list-team-memberships.md
Labels: scope: docs

#1632 feat(sdk): standardize 'spec file' location for shared usage in sdk's projects
  .changeset/mean-times-shake.md
  .github/workflows/ci-sdk-javascript.yml
  .github/workflows/ci-sdk-python.yml
  packages/sdks/common/README.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/Makefile
  packages/sdks/javascript/openapitools.json
  packages/sdks/javascript/src/api/generated/models/credential-azure.ts
  packages/sdks/javascript/src/api/generated/models/credential-input-settings.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/provider-code.ts
  packages/sdks/javascript/src/api/generated/models/provider-relation.ts
  packages/sdks/javascript/src/api/generated/models/server-cloud-service-code.ts
  packages/sdks/python/Makefile
  packages/sdks/python/devopness/_generated/models/__init__.py
  packages/sdks/python/devopness/_generated/models/credential_azure.py
  packages/sdks/python/devopness/_generated/models/credential_input_settings_credential.py
  packages/sdks/python/devopness/_generated/models/provider_code.py
  packages/sdks/python/devopness/_generated/models/provider_relation.py
  packages/sdks/python/devopness/_generated/models/server_cloud_service_code.py
  packages/sdks/python/devopness/models.py
  packages/sdks/python/generator/api/spec.json
  packages/sdks/python/scripts/build.py
Labels: scope: ci, scope: packages, scope: sdks, scope: sdk-javascript

#1566 fix: DropdownOption.badge.color not working (#1504)
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.test.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
Labels: scope: packages

#1635 fix: fixing dropdown.badge.color component
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
Labels: scope: packages

#1572 test: Add tests for Alert component
  packages/ui/react/src/components/Forms/Alert/Alert.test.tsx
Labels: scope: packages

#1642 fix: `TEAM MEMBERSHIP` docs paths in `previous` links
  docs/team-memberships/add-team-membership.md
  docs/team-memberships/list-team-memberships.md
Labels: scope: docs

#1645 feat(sdk-python): include all generated api and expose network and subnet services
  packages/sdks/python/.version
  packages/sdks/python/devopness/_base/base_service.py
  packages/sdks/python/devopness/_client.py
  packages/sdks/python/devopness/_client_config.py
  packages/sdks/python/devopness/_core/response.py
  packages/sdks/python/devopness/_generated/api/__init__.py
  packages/sdks/python/devopness/_generated/api/actions_api.py
  packages/sdks/python/devopness/_generated/api/actions_logs_api.py
  packages/sdks/python/devopness/_generated/api/applications_api.py
  packages/sdks/python/devopness/_generated/api/applications_hooks_api.py
  packages/sdks/python/devopness/_generated/api/applications_variables_api.py
  packages/sdks/python/devopness/_generated/api/cron_jobs_api.py
  packages/sdks/python/devopness/_generated/api/daemons_api.py
  packages/sdks/python/devopness/_generated/api/environments_actions_api.py
  packages/sdks/python/devopness/_generated/api/environments_team_memberships_api.py
  packages/sdks/python/devopness/_generated/api/environments_teams_api.py
  packages/sdks/python/devopness/_generated/api/hook_requests_api.py
  packages/sdks/python/devopness/_generated/api/hooks_api.py
  packages/sdks/python/devopness/_generated/api/hooks_requests_api.py
  packages/sdks/python/devopness/_generated/api/network_rules_api.py
  packages/sdks/python/devopness/_generated/api/networks_api.py
  packages/sdks/python/devopness/_generated/api/networks_subnets_api.py
  packages/sdks/python/devopness/_generated/api/organizations_api.py
  packages/sdks/python/devopness/_generated/api/organizations_environments_api.py
  packages/sdks/python/devopness/_generated/api/organizations_projects_api.py
  packages/sdks/python/devopness/_generated/api/pipelines_actions_api.py
  packages/sdks/python/devopness/_generated/api/pipelines_api.py
  packages/sdks/python/devopness/_generated/api/pipelines_hooks_api.py
  packages/sdks/python/devopness/_generated/api/pipelines_steps_api.py
  packages/sdks/python/devopness/_generated/api/projects_actions_api.py
  packages/sdks/python/devopness/_generated/api/projects_roles_api.py
  packages/sdks/python/devopness/_generated/api/projects_teams_api.py
  packages/sdks/python/devopness/_generated/api/resource_events_api.py
  packages/sdks/python/devopness/_generated/api/resource_links_api.py
  packages/sdks/python/devopness/_generated/api/roles_api.py
  packages/sdks/python/devopness/_generated/api/services_api.py
  packages/sdks/python/devopness/_generated/api/services_variables_api.py
  packages/sdks/python/devopness/_generated/api/social_accounts_api.py
  packages/sdks/python/devopness/_generated/api/ssh_keys_api.py
  packages/sdks/python/devopness/_generated/api/ssl_certificates_api.py
  packages/sdks/python/devopness/_generated/api/static_data_api.py
  packages/sdks/python/devopness/_generated/api/subnets_api.py
  packages/sdks/python/devopness/_generated/api/team_invitations_api.py
  packages/sdks/python/devopness/_generated/api/teams_api.py
  packages/sdks/python/devopness/_generated/api/teams_invitations_api.py
  packages/sdks/python/devopness/_generated/api/teams_members_api.py
  packages/sdks/python/devopness/_generated/api/users_environments_api.py
  packages/sdks/python/devopness/_generated/api/users_passwords_api.py
  packages/sdks/python/devopness/_generated/api/users_projects_api.py
  packages/sdks/python/devopness/_generated/api/users_team_invitations_api.py
  packages/sdks/python/devopness/_generated/api/variables_api.py
  packages/sdks/python/devopness/_generated/api/virtual_hosts_api.py
  packages/sdks/python/devopness/_services/network_service.py
  packages/sdks/python/devopness/_services/subnet_service.py
  packages/sdks/python/devopness/services.py
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/build.py
  packages/sdks/python/tests/unit/base/test_service.py
Labels: scope: packages, scope: sdks
