Repository devopness/devopness, pull requests merged in 2025-06, with the labels that each got.

#1766 feat(sdk-python): validate base_url format in DevopnessClientConfig
  .changeset/soft-insects-return.md
  packages/sdks/python/src/devopness/client_config.py
  packages/sdks/python/tests/unit/test_client_config.py
Labels: scope: packages, scope: sdks

#1786 feat: 2025-06-03 20:50 - Update API Specification
  .changeset/flat-countries-judge.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/apis/hooks-api.ts
  packages/sdks/javascript/src/api/generated/apis/hooks-requests-api.ts
  packages/sdks/javascript/src/api/generated/apis/pipelines-hooks-api.ts
  packages/sdks/javascript/src/api/generated/models/hook-type-param.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generator/templates/apiInner.mustache
  packages/sdks/python/generator/templates/api_imports.mustache
  packages/sdks/python/generator/templates/api_method_params.mustache
  packages/sdks/python/src/devopness/generated/api/hooks_api.py
  packages/sdks/python/src/devopness/generated/api/hooks_requests_api.py
  packages/sdks/python/src/devopness/generated/api/pipelines_hooks_api.py
  packages/sdks/python/src/devopness/generated/models/__init__.py
  packages/sdks/python/src/devopness/generated/models/hook_type_param.py
  packages/sdks/python/src/devopness/models.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1796 chore: update package-lock.json after releasing packages
  .github/workflows/ci-sdk-javascript.yml
  .github/workflows/ci-sdk-python.yml
  .github/workflows/release-packages.yml
  package-lock.json
Labels: scope: ci, scope: repo

#1797 feat: Devopness MCP server
  packages/README.md
  packages/ai/README.md
  packages/ai/mcp-server/.python-version
  packages/ai/mcp-server/README.md
  packages/ai/mcp-server/devopness_api.py
  packages/ai/mcp-server/main.py
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/server.py
  packages/ai/mcp-server/uv.lock
Labels: scope: packages

#1810 chore: add Dockerfile, Makefile, and linting/formatting tools
  packages/ai/mcp-server/Dockerfile
  packages/ai/mcp-server/Makefile
  packages/ai/mcp-server/devopness_api.py
  packages/ai/mcp-server/main.py
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/server.py
  packages/ai/mcp-server/uv.lock
Labels: scope: packages

#1812 refactor: move tools to lib dedicated file
  packages/ai/mcp-server/lib/devopness_api.py
  packages/ai/mcp-server/lib/tools.py
  packages/ai/mcp-server/server.py
Labels: scope: packages

#1821 refactor: improve pypi packages ci workflows and release process
  .changeset/real-crabs-worry.md
  .github/workflows/ci-mcp-server.yml
  .github/workflows/release-packages.yml
  .github/workflows/sync-package-versions.yml
  package-lock.json
  packages/ai/mcp-server/Makefile
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/scripts/publish.sh
  packages/ai/mcp-server/src/devopness_mcp_server/main.py
  packages/sdks/python/Makefile
  packages/sdks/python/pyproject.toml
  packages/sdks/python/scripts/publish-dev.sh
  packages/sdks/python/scripts/publish.sh
Labels: scope: ci, scope: packages, scope: sdks, scope: repo

#1824 feat(mcp-server): devopness_deploy_application tool support pipeline selection by application id
  .changeset/moody-chicken-draw.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
  packages/ai/mcp-server/uv.lock
Labels: scope: packages

#1826 feat(mcp-server): add ssh key create and deploy tools
  .changeset/angry-oranges-knock.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/response.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
Labels: scope: packages

#1835 docs: improve MCP readme files
  README.md
  packages/ai/mcp-server/CONTRIBUTING.md
  packages/ai/mcp-server/README.md
Labels: scope: packages, scope: repo

#1836 chore: package version
  package-lock.json
  packages/ai/mcp-server/package.json
  packages/ai/mcp-server/pyproject.toml
Labels: scope: packages

#1837 fix: typos in mcp-server readme file
  README.md
  package-lock.json
  packages/ai/mcp-server/README.md
  packages/ai/mcp-server/package.json
  packages/ai/mcp-server/pyproject.toml
Labels: scope: packages, scope: repo

#1834 fix(docs): incorrect link to good first issues in contributing guide
  CONTRIBUTING.md
Labels: scope: repo

#1849 fix: make 'sync - package versions' a required workflow for pr targeting main
  .github/workflows/sync-package-versions.yml
  package-lock.json
  packages/ai/mcp-server/package.json
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/uv.lock
Labels: scope: ci, scope: packages

#1852 feat(mcp-server): enhance cloud server provisioning with region/instance discovery
  .changeset/lovely-carrots-look.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
Labels: scope: packages

#1858 refactor(mcp-server): extract service logic into dedicated classes
  .changeset/tough-geese-float.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/credential_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/environment_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/project_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/server_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/service_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/ssh_key_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/user_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/webhook_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
Labels: scope: packages

#1863 feat(mcp-server): add tools to create application variables and config files
  .changeset/good-sheep-itch.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
Labels: scope: packages

#1862 refactor(mcp-server): use summaries and add pagination to list projects and environments
  .changeset/healthy-horses-whisper.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/models.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/environment_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/project_service.py
Labels: scope: packages

#1873 refactor(mcp-server): improve 'create application' tool with validation and runtime suggestions
  .changeset/eighty-trainers-hang.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/server_service.py
Labels: scope: packages

#1877 feat: 2025-06-23 16:59 - Update API specification
  .changeset/itchy-crabs-approve.md
  package-lock.json
  packages/sdks/common/spec.json
  packages/sdks/javascript/package-lock.json
  packages/sdks/javascript/src/api/generated/models/user-update.ts
  packages/sdks/python/src/devopness/generated/models/user_relation.py
  packages/sdks/python/src/devopness/generated/models/user_update.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript, scope: repo

#1879 chore(mcp-server): bump devopness dependency version to 1.2.1
  .changeset/rich-ways-love.md
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/uv.lock
Labels: scope: packages

#1881 refactor(mcp-server): standardize listing tools with pagination and clear output formatting rules
  .changeset/moody-donkeys-judge.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/devopness_api.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/models.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/response.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/credential_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/environment_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/pipeline_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/project_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/server_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/service_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/ssh_key_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/types.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/utils.py
Labels: scope: packages

#1887 feat(mcp-server): add support for daemon and virtual host and improve 'resource list ux'
  .changeset/heavy-experts-attack.md
  packages/ai/mcp-server/src/devopness_mcp_server/lib/models.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/credential_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/daemon_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/environment_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/pipeline_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/project_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/server_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/service_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/virtual_host_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/types.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/utils.py
Labels: scope: packages

#1898 fix(mcp-server): add deploy tool for ssl-certificate
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/ssl_certificate.py
Labels: scope: packages

#1903 feat: style docs web app
  docs/.env.example
  docs/blog/2025-06-26-sample-blog-post.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/_data/static_permissions.json
  docs/src/components/CommunitySupport.tsx
  docs/src/components/MentionPost.tsx
  docs/src/components/README.md
  docs/src/components/RelatedLinks.tsx
  docs/src/components/RequiredPermissions.tsx
  docs/src/lib/env.mjs
  docs/src/plugins/README.md
  docs/src/plugins/intro-content-plugin.ts
  docs/src/plugins/mention-post-plugin.ts
  docs/src/plugins/related-links-plugin.ts
  docs/src/plugins/required-permissions-plugin.ts
  docs/src/plugins/static-content-links-escape-plugin.ts
  docs/src/theme/DocItem/Footer/index.tsx
  docs/src/theme/MDXComponents.ts
  docs/src/theme/README.md
  docs/src/theme/Root.tsx
  docs/src/theme/docusaurus.css
  docs/src/utils/permissions.ts
Labels: scope: docs

#1906 chore: version packages
  .github/workflows/ci-mcp-server.yml
  README.md
  package-lock.json
  package.json
  packages/README.md
  packages/ai/README.md
  packages/ai/mcp-server/.python-version
  packages/ai/mcp-server/CHANGELOG.md
  packages/ai/mcp-server/CONTRIBUTING.md
  packages/ai/mcp-server/Dockerfile
  packages/ai/mcp-server/Makefile
  packages/ai/mcp-server/README.md
  packages/ai/mcp-server/package.json
  packages/ai/mcp-server/pyproject.toml
  packages/ai/mcp-server/src/devopness_mcp_server/__init__.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/__init__.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/devopness_api.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/models.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/response.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/application_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/credential_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/daemon_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/environment_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/pipeline_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/project_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/server_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/service_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/ssh_key_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/ssl_certificate.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/user_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/virtual_host_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/services/webhook_service.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/tools.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/types.py
  packages/ai/mcp-server/src/devopness_mcp_server/lib/utils.py
  packages/ai/mcp-server/src/devopness_mcp_server/main.py
  packages/ai/mcp-server/src/devopness_mcp_server/py.typed
  packages/ai/mcp-server/src/devopness_mcp_server/server.py
  packages/ai/mcp-server/uv.lock
Labels: scope: ci, scope: packages, scope: repo

#1907 ci: ensure a `.env` file used to build docs web
  .github/workflows/ci-docs.yml
Labels: scope: ci

#1904 docs: add help virtual-hosts
  docs/docs/virtual-hosts/add-virtual-host.md
  docs/docs/virtual-hosts/edit-virtual-host.md
  docs/docs/virtual-hosts/index.md
  docs/docs/virtual-hosts/list-virtual-hosts.md
  docs/docs/virtual-hosts/view-virtual-host.md
Labels: scope: docs

#1914 ci: bump `contributor-assistant` action to 2.6.1
  .github/workflows/ci-cla-assistant.yml
Labels: scope: ci

#1911 docs(ssh-keys): add pages for listing and viewing SSH keys
  docs/docs/ssh-keys/list-ssh-keys.md
  docs/docs/ssh-keys/view-ssh-key.md
Labels: scope: docs

#1922 fix: 'Sync - Package Versions' to work with PRs from forks
  .github/workflows/sync-package-versions.yml
Labels: scope: ci

#1924 chore: update MCP 'add button' command
  README.md
Labels: scope: repo
