Repository devopness/devopness, pull requests merged in 2025-07, with the labels that each got.

#1939 chore: mcp 'add buttons' use remote Devopness MCP
  README.md
Labels: scope: repo

#1942 feat: 2025-07-03 18:17 - Update API specification
  .changeset/chatty-pumas-change.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/apis/variables-api.ts
  packages/sdks/javascript/src/api/generated/models/variable-relation.ts
  packages/sdks/javascript/src/api/generated/models/variable.ts
  packages/sdks/python/src/devopness/generated/api/variables_api.py
  packages/sdks/python/src/devopness/generated/models/variable.py
  packages/sdks/python/src/devopness/generated/models/variable_relation.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1945 fix(Dropdown): fix component typings and function compatibility
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
  packages/ui/react/src/icons/iconLoader.tsx
Labels: scope: packages

#1966 feat: 2025-07-08 21:47 - Update API specification
  .changeset/fair-baboons-accept.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/action-retry-response.ts
  packages/sdks/javascript/src/api/generated/models/action-target.ts
  packages/sdks/javascript/src/api/generated/models/action.ts
  packages/sdks/python/src/devopness/generated/models/action.py
  packages/sdks/python/src/devopness/generated/models/action_retry_response.py
  packages/sdks/python/src/devopness/generated/models/action_target.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1998 feat(design-system): add Skeleton component
  .changeset/add-Skeleton-component.md
  packages/ui/react/src/components/Primitives/Skeleton/Skeleton.stories.tsx
  packages/ui/react/src/components/Primitives/Skeleton/Skeleton.styled.ts
  packages/ui/react/src/components/Primitives/Skeleton/Skeleton.test.tsx
  packages/ui/react/src/components/Primitives/Skeleton/Skeleton.tsx
  packages/ui/react/src/components/Primitives/Skeleton/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages
