Repository devopness/devopness, pull requests merged in 2025-01, with the labels that each got.

#1102 fix(design-system): dropdown closing after click on disabled option
  .changeset/odd-nails-do.md
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.test.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
Labels: scope: packages

#1107 feat(design-system): add pagination component
  .changeset/add-Pagination-component.md
  packages/ui/react/src/components/Primitives/Pagination/Pagination.stories.tsx
  packages/ui/react/src/components/Primitives/Pagination/Pagination.styled.ts
  packages/ui/react/src/components/Primitives/Pagination/Pagination.tsx
  packages/ui/react/src/components/Primitives/Pagination/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages

#1124 feat(design-system): add ErrorMessage component
  .changeset/add-ErrorMessage-component.md
  packages/ui/react/src/components/Primitives/ErrorMessage/ErrorMessage.stories.tsx
  packages/ui/react/src/components/Primitives/ErrorMessage/ErrorMessage.styled.ts
  packages/ui/react/src/components/Primitives/ErrorMessage/ErrorMessage.test.tsx
  packages/ui/react/src/components/Primitives/ErrorMessage/ErrorMessage.tsx
  packages/ui/react/src/components/Primitives/ErrorMessage/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages

#1135 fix(design-system): enhance ErrorMessage type definition flexibility
  .changeset/fix-ErrorMessage-types.md
  packages/ui/react/src/components/Primitives/ErrorMessage/ErrorMessage.tsx
Labels: scope: packages

#1145 feat(design-system): add ArrowHead component
  .changeset/add-ArrowHead-component.md
  packages/ui/react/src/components/Primitives/ArrowHead/ArrowHead.stories.tsx
  packages/ui/react/src/components/Primitives/ArrowHead/ArrowHead.styled.ts
  packages/ui/react/src/components/Primitives/ArrowHead/ArrowHead.test.tsx
  packages/ui/react/src/components/Primitives/ArrowHead/ArrowHead.tsx
  packages/ui/react/src/components/Primitives/ArrowHead/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages

#1150 feat(docs): update FAQ links to navigate user to question
  docs/users/subscriptions/faq/index.md
Labels: scope: docs

#1165 feat(design-system): update icons source from @react-icons/all-files to react-icons
  .changeset/replace-react-icons-all-files.md
  package-lock.json
  packages/ui/react/.storybook/preview.ts
  packages/ui/react/package.json
  packages/ui/react/src/components/Primitives/Icon/Icon.stories.tsx
  packages/ui/react/src/components/Primitives/Label/Label.styled.ts
  packages/ui/react/src/icons/iconLoader.tsx
Labels: scope: packages, scope: repo

#1179 fix: stop unwanted props from propagating to DOM Element in Button
  .changeset/shaggy-plums-smash.md
  packages/ui/react/src/components/Buttons/Button/Button.styled.ts
  packages/ui/react/src/components/Buttons/Button/Button.tsx
  packages/ui/react/src/components/Forms/Alert/Alert.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
  packages/ui/react/src/components/Primitives/Pagination/Pagination.tsx
Labels: scope: packages

#1182 feat: 2025-01-19 16:08 - Update API specification
  .changeset/support-ubuntu-24-04.md
  packages/sdks/javascript/src/api/generated/models/cloud-os-version-code.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1185 docs: Improving clarity in navigating AWS section and adding extra section with was excluded. Update add-aws-credential.md
  docs/credentials/add-aws-credential.md
Labels: scope: docs

#1189 docs(design-system): add component development guide
  packages/ui/react/src/components/README.md
Labels: scope: packages

#1186 fix(design-system): revert #1179 breaking changes and refactor implementation to improve legibility
  .changeset/fix-button-props.md
  packages/ui/react/src/components/Buttons/Button/Button.styled.ts
  packages/ui/react/src/components/Buttons/Button/Button.test.tsx
  packages/ui/react/src/components/Buttons/Button/Button.tsx
  packages/ui/react/src/components/Forms/Alert/Alert.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
  packages/ui/react/src/components/Primitives/Pagination/Pagination.tsx
Labels: scope: packages

#1188 feat(design-system): allow users to customize Link in Dropdown options
  .changeset/add-link-props-to-dropdown-option.md
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.styled.ts
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.test.tsx
  packages/ui/react/src/components/Primitives/Dropdown/Dropdown.tsx
Labels: scope: packages

#1235 docs: update GCP credential requirements
  docs/credentials/add-gcp-credential.md
Labels: scope: docs

#1236 docs: Update Pipeline Steps Button Location
  docs/pipelines/steps/add-step.md
Labels: scope: docs

#1239 feat: add validation for PR description fields in CI
  .github/scripts/pr-validate-description.js
  .github/workflows/lint-pr-title.yml
  .github/workflows/lint-pr.yml
Labels: scope: ci

#1251 fix: pr validation checkout and description checks
  .github/scripts/pr-validate-description.js
  .github/workflows/ci-cla-assistant.yml
  .github/workflows/ci-sdk-javascript.yml
  .github/workflows/ci-ui-react.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/issue-stale.yml
  .github/workflows/label-issue.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release-packages.yml
Labels: type: bug, scope: ci

#1253 fix: validate pr-title job name
  .github/workflows/pr-lint.yml
Labels: scope: ci

#1254 fix: update PR validation to exclude multiple users from checks
  .github/workflows/pr-lint.yml
Labels: scope: ci

#1252 feat: 2025-01-29 20:27 - Update API specification
  packages/sdks/javascript/src/api/generated/models/action-type.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1256 feat: 2025-01-30 14:00 - Update API specification
  .changeset/add-credential-field-in-list-networks.md
  .changeset/add-last-action-field-in-list-networks.md
  .changeset/add-server-configure-action.md
  .changeset/document-variable-description-max-length.md
  packages/sdks/javascript/src/api/generated/models/network-relation.ts
  packages/sdks/javascript/src/api/generated/models/variable-create.ts
  packages/sdks/javascript/src/api/generated/models/variable-update.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1258 fix: update PR validation to exclude 'github-actions' user from checks
  .github/workflows/pr-lint.yml
Labels: scope: ci

#1259 fix: update PR title to exclude 'github-actions' user from checks
  .github/workflows/pr-lint.yml
Labels: scope: ci
