Repository devopness/devopness, pull requests merged in 2025-08, with the labels that each got.

#2036 feat(design-system): add EmptyData component
  .changeset/add-EmptyData-component.md
  packages/ui/react/src/components/Primitives/EmptyData/EmptyData.stories.tsx
  packages/ui/react/src/components/Primitives/EmptyData/EmptyData.styled.ts
  packages/ui/react/src/components/Primitives/EmptyData/EmptyData.test.tsx
  packages/ui/react/src/components/Primitives/EmptyData/EmptyData.tsx
  packages/ui/react/src/components/Primitives/EmptyData/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages

#2046 ci: update CLA allow list
  .github/workflows/ci-cla-assistant.yml
Labels: scope: ci

#2061 feat: add hetzner and fastmcp icons
  .changeset/add-hetzner-and-fastmcp-icons.md
  packages/ui/react/src/icons/iconLoader.tsx
Labels: scope: packages

#2065 docs(heztner-credential): add heztner credential page
  docs/docs/credentials/add-hetzner-credential.md
Labels: scope: docs

#2077 refactor(docs): add access/create project step
  docs/docs/credentials/add-hetzner-credential.md
Labels: scope: docs

#2078 feat(design-system): add CardLoading component
  .changeset/add-card-loading-component.md
  packages/ui/react/src/components/Primitives/CardLoading/CardLoading.stories.tsx
  packages/ui/react/src/components/Primitives/CardLoading/CardLoading.styled.ts
  packages/ui/react/src/components/Primitives/CardLoading/CardLoading.test.tsx
  packages/ui/react/src/components/Primitives/CardLoading/CardLoading.tsx
  packages/ui/react/src/components/Primitives/CardLoading/index.ts
  packages/ui/react/src/components/Primitives/index.ts
Labels: scope: packages

#2098 feat: 2025-08-27 17:00 - Update API specification
  .changeset/strange-plums-explode.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/models/api-token-allowed-expiration.ts
  packages/sdks/javascript/src/api/generated/models/api-token-project-create.ts
  packages/sdks/javascript/src/api/generated/models/api-token-project-rotate.ts
  packages/sdks/javascript/src/api/generated/models/api-token-type.ts
  packages/sdks/javascript/src/api/generated/models/index.ts
  packages/sdks/javascript/src/api/generated/models/personal-access-token-user-create.ts
  packages/sdks/javascript/src/api/generated/models/personal-access-token-user-rotate.ts
  packages/sdks/python/src/devopness/generated/models/__init__.py
  packages/sdks/python/src/devopness/generated/models/api_token_allowed_expiration.py
  packages/sdks/python/src/devopness/generated/models/api_token_project_create.py
  packages/sdks/python/src/devopness/generated/models/api_token_project_rotate.py
  packages/sdks/python/src/devopness/generated/models/api_token_type.py
  packages/sdks/python/src/devopness/generated/models/personal_access_token_user_create.py
  packages/sdks/python/src/devopness/generated/models/personal_access_token_user_rotate.py
  packages/sdks/python/src/devopness/models.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#2104 feat: 2025-08-29 12:03 - Update API specification
  .changeset/pink-turtles-wink.md
  packages/sdks/common/spec.json
  packages/sdks/javascript/src/api/generated/apis/projects-apitokens-api.ts
  packages/sdks/javascript/src/services/ApiTokenService.ts
  packages/sdks/python/src/devopness/generated/api/__init__.py
  packages/sdks/python/src/devopness/generated/api/projects_api_tokens_api.py
  packages/sdks/python/src/devopness/services/api_token_service.py
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#2107 feat(docs): improve instructions on usage of API and API Tokens
  docs/docs/api-tokens/index.md
  docs/docs/api-tokens/personal-access-tokens/add-personal-access-token.md
  docs/docs/api-tokens/personal-access-tokens/index.md
  docs/docs/api-tokens/personal-access-tokens/list-personal-access-tokens.md
  docs/docs/api-tokens/personal-access-tokens/revoke-personal-access-token.md
  docs/docs/api-tokens/personal-access-tokens/view-personal-access-token.md
  docs/docs/api-tokens/project-api-tokens/add-project-api-token.md
  docs/docs/api-tokens/project-api-tokens/index.md
  docs/docs/api-tokens/project-api-tokens/list-project-api-tokens.md
  docs/docs/api-tokens/project-api-tokens/revoke-project-api-token.md
  docs/docs/api-tokens/project-api-tokens/view-project-api-token.md
  docs/docs/api/index.md
  docs/docs/applications/integrate-application-deployments-to-ci-workflows.md
  docs/docs/users/find-your-activity-summary.md
  docs/docs/webhooks/create-incoming-webhook.md
  docs/docs/webhooks/create-outgoing-webhook.md
Labels: scope: docs
