Repository devopness/devopness, pull requests merged in 2025-03, with the labels that each got.

#1384 docs: document the variable management process
  docs/files/index.md
  docs/variables/add-variable.md
  docs/variables/edit-variable.md
  docs/variables/index.md
  docs/variables/remove-variable.md
Labels: scope: docs

#1397 docs(variables): remove deprecated 'intro' field and use admonition
  docs/variables/add-variable.md
  docs/variables/edit-variable.md
  docs/variables/index.md
  docs/variables/remove-variable.md
Labels: scope: docs

#1428 docs: update GitHub Actions workflow badge link
  README.md
Labels: scope: repo

#1453 feat: 2025-03-20 15:00 - Update API specification
  .changeset/manage-team-invitation.md
  packages/sdks/javascript/src/api/generated/apis/team-invitations-api.ts
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1480 feat: 2025-03-25 20:24 - Update API specification
  packages/sdks/javascript/src/api/spec.json
Labels: scope: packages, scope: sdks, scope: sdk-javascript

#1502 docs: Fix typos in cloud provider instructions
  docs/servers/add-gcp-server.md
Labels: scope: docs

#1515 feat(design-system): add `borderBottomColor` prop to customize Card header
  .changeset/add-card-header-prop.md
  packages/ui/react/src/components/Templates/Card/Card.styled.ts
  packages/ui/react/src/components/Templates/Card/Card.test.tsx
  packages/ui/react/src/components/Templates/Card/Card.tsx
Labels: scope: packages
